<template>
    <header>
        <div class="cs-header-left">
            <div class="cs-header-left__zuo" @click="back">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-zuojiantou"></use>
                </svg>
            </div>
            <div class="cs-header-left__you">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-youjiantou"></use>
                </svg>
            </div>
            <div class="cs-header-search">
                <div class="mt-4">
                    <el-input
                        placeholder="搜索音乐"
                        @focus="focusFn"
                        @blur="blurFn"
                        v-model="inputValue"
                        @keyup.enter="submitSearch"
                    >
                    </el-input>
                    <div class="cs-header-search__icon">
                        <div @click="submitSearch">
                            <svg class="icon cs-header-search__icon" aria-hidden="true">
                                <use xlink:href="#icon-sousuo_o"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cs-icon__music" title="听歌识曲">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-music"></use>
                </svg>
            </div>
        </div>
        <div class="cs-header-right">
            <div class="cs-header-right-head">
                <div class="cs-head-sculpture" @click="toLogin">
                    <img
                        src="../../assets/logo.svg"
                        alt=""
                        style="width: 25px; height: 25px"
                        v-if="!avatarUrl"
                    />
                    <img
                        :src="avatarUrl"
                        alt=""
                        style="width: 25px; height: 25px"
                        v-if="avatarUrl"
                    />
                </div>
                <div class="cs-header-right__nickname" :title="userName">
                    {{ userName }}
                </div>
            </div>
            <div class="cs-header-right-vip">
                <div v-if="loginStore.userLevel.level">Lv:{{ loginStore.userLevel.level }}</div>
                <div class="cs-header-right-vip__icon-vip">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-VIP1"></use>
                    </svg>
                </div>
            </div>
            <div class="cs-header-right__integral">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-xiangxiajiantou"></use>
                </svg>
            </div>
            <!-- 皮肤 -->
            <div class="cs-header-right__skin">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-pifu"></use>
                </svg>
            </div>
            <!-- 菜单 -->
            <div class="cs-header-right__menu" @click="menuFn">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-ego-menu"></use>
                </svg>
            </div>
        </div>
        <div>
            <div class="cs-search-list" v-if="focusFlag">
                <div class="cs-search-list-left">
                    <div class="cs-search-list__title">热门搜索</div>
                    <el-divider />
                    <div
                        v-for="item in searchHotList"
                        class="cs-search-list-item"
                        @mousedown="searchHotFn(item)"
                    >
                        <div>{{ item.searchWord }}</div>
                        <div>{{ item.score }}</div>
                    </div>
                </div>
                <div class="cs-search-list-right">
                    <div class="cs-search-list__title">搜索历史</div>
                    <el-divider />
                    <div
                        v-for="item in searchHistoryList"
                        class="cs-search-list-item"
                        @mousedown="searchHistory(item.searchWord)"
                    >
                        <div>{{ item.searchWord }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="cs-menu-list" v-if="menuFlag">
                <div class="cs-menu-list-top">
                    <div v-for="item in menuList" class="cs-menu-list-item">
                        <div class="cs-menu-list-item__icon">
                            <svg class="icon" aria-hidden="true">
                                <use :xlink:href="item.icon"></use>
                            </svg>
                        </div>
                        <div class="cs-menu-list-item__name">
                            {{ item.name }}
                        </div>
                    </div>
                </div>
                <div class="cs-menu-list-center">
                    <div class="cs-menu-list-center-item">
                        <div class="cs-menu-list-center-item__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href=""></use>
                            </svg>
                        </div>
                        <div class="cs-menu-list-center-item__content">添加歌曲</div>
                    </div>
                    <div class="cs-menu-list-center-item">
                        <div class="cs-menu-list-center-item__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-heimingdan"></use>
                            </svg>
                        </div>
                        <div class="cs-menu-list-center-item__content">黑名单设置</div>
                    </div>
                </div>
                <div class="cs-menu-list-bottom">
                    <div
                        class="cs-menu-list-bottom-item"
                        v-for="(item, index) in menuBottomList"
                        @click="logoutFn(item)"
                    >
                        <div class="cs-menu-list-bottom-item__icon">
                            <svg class="icon" aria-hidden="true">
                                <use :xlink:href="item.icon"></use>
                            </svg>
                        </div>
                        <div class="cs-menu-list-bottom-item__content">
                            {{ item.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>
<script setup>
const axios = inject('$axios')

import { useRouter } from 'vue-router'
const router = useRouter()
import { useLoginStore } from '../../stores/Login'
const loginStore = useLoginStore()
import { useSearchStore } from '../../stores/search'
const searchStore = useSearchStore()
import { ElMessage } from 'element-plus'

function toLogin() {
    if (loginStore.userName != '') {
        router.push({
            name: 'personalInformation'
        })
    } else {
        loginStore.isLogin = !loginStore.isLogin
    }
}
const userName = computed(() => {
    return loginStore.userName == '' ? '未登录' : loginStore.userName
})
const avatarUrl = computed(() => {
    return (loginStore.avatarUrl = loginStore.avatarUrl)
})

// 获取焦点
let focusFlag = ref(false)
let searchHotList = ref([])
async function focusFn() {
    await axios
        .get(`/search/hot/detail`)
        .then((res) => {
            searchHotList.value = res.data
        })
        .catch((err) => {
            ElMessage.error(err)
        })
    focusFlag.value = true
}
function blurFn() {
    focusFlag.value = false
}
// 搜索
let inputValue = ref('')
let searchHistoryList = ref([
    { searchWord: '周杰伦' },
    { searchWord: 'tara' },
    { searchWord: '林俊杰' },
    { searchWord: '凤凰传奇' },
    { searchWord: 'exid' },
    { searchWord: '陈奕迅' }
])
function searchHotFn(val) {
    inputValue.value = val.searchWord
    searchStore.searchValue = val.searchWord
    router.push({
        name: 'search'
    })
    focusFlag.value = false
}
function submitSearch() {
    searchStore.searchValue = inputValue.value
    searchHistoryList.value.push({ searchWord: inputValue.value })
    router.push({
        name: 'search'
    })
    focusFlag.value = false
}
function back() {
    router.back()
}

function searchHistory(value) {
    if (searchHistoryList.value.length >= 9) {
        searchHistoryList.value.splice(0, 1)
    }
    inputValue.value = value
    submitSearch()
}
// 菜单
let menuFlag = ref(false)
function menuFn() {
    menuFlag.value = !menuFlag.value
}
let menuList = ref([
    { icon: '#icon-shumashouji', name: '传歌到设备' },
    { icon: '#icon-yinpin', name: '音频转码' },
    { icon: '#icon-lingsheng', name: '铃声制作' },
    { icon: '#icon-wangpan', name: '微云音乐网盘' },
    { icon: '#icon-dingshi-', name: '定时设置' },
    { icon: '#icon-zhihangfankui', name: '反馈与修复' },
    { icon: '#icon-youxiyouxiji', name: '游戏优化' },
    { icon: '#icon-youjian', name: '消息中心' },
    { icon: '#icon-hearing', name: '耳纹音效' },
    { icon: '#icon-maikefeng', name: '虚拟麦克风' }
])
let menuBottomList = ref([
    { icon: '#icon-shezhi', name: '设置' },
    { icon: '', name: '帮助' },
    { icon: '', name: '升级' },
    { icon: '', name: '切换账号' },
    { icon: '', name: '退出QQ音乐' }
])
async function logoutFn(item) {
    if (item.name == '切换账号' || item.name == '退出QQ音乐') {
        await axios
            .get(`/logout`)
            .then((res) => {
                if (res.code == 200) {
                    ElMessage({
                        message: '已退出',
                        type: 'success'
                    })
                    localStorage.removeItem('login')
                    loginStore.userName = ''
                    loginStore.avatarUrl = ''
                    loginStore.userLevel = {}
                    loginStore.userSubcount = {}
                    loginStore.profile = ''
                    loginStore.profile = ''
                }
                menuFlag.value = false
            })
            .catch((err) => {
                ElMessage.error(err)
            })
    }
}
</script>
<style lang="scss" scoped>
header {
    width: 160%;
    height: 72px;
    z-index: 222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include b('header-left') {
        width: 450px;
        height: 100%;
        // background-color: yellow;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 40px;
        @include e('zuo') {
            width: 30px;
            font-size: 18px;
            height: 30px;
            line-height: 30px;
            margin-right: 15px;
        }
        @include e('you') {
            width: 30px;
            font-size: 18px;
            line-height: 30px;
            height: 30px;
        }
        @include b('header-search') {
            width: 20vw;
            min-width: 10vw;
            height: 100%;
            display: flex;
            align-items: center;
            margin-left: 15px;
            @include e('icon') {
                font-size: 20px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        @include b('icon__music') {
            width: 30px;
            height: 30px;
            font-size: 16px;
            line-height: 30px;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
        }
    }
    @include b('header-right') {
        width: 28vw;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include b('header-right-head') {
            width: 110px;
            height: 30px;
            display: flex;
            align-items: center;
            @include b('head-sculpture') {
                width: 25px;
                height: 25px;
                border-radius: 6px;
                margin-right: 10px;
            }
        }
        @include e('nickname') {
            width: 70px;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
            height: 30px;
            color: #000;
            line-height: 30px;
        }
        @include b('header-right-vip') {
            width: 60px;
            height: 30px;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            @include e('icon-vip') {
                margin: 0 7px;
            }
        }
        @include e('integral') {
            width: 30px;
            height: 30px;
            font-size: 16px;
            line-height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include e('skin') {
            width: 30px;
            height: 30px;
            font-size: 16px;
            line-height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include e('menu') {
            width: 30px;
            height: 30px;
            font-size: 16px;
            line-height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    @include b('search-list') {
        position: absolute;
        top: 70px;
        left: 20%;
        color: #000;
        width: 520px;
        height: 410px;
        background-color: #80e3e5;
        z-index: 99;
        border-radius: 3px;
        box-shadow:
            2px 0 0 0 rgb(0, 0, 0, 0.1),
            0 2px 0 0 rgb(0, 0, 0, 0.1),
            -2px 0 0 0 rgb(0, 0, 0, 0.1),
            0 -2px 0 0 rgb(0, 0, 0, 0.1);
        display: flex;
        @include b('search-list-left') {
            width: 50%;
            height: 400px;
            overflow: hidden;
        }
        @include e('title') {
            height: 30px;
            width: 100%;
            display: flex;
            margin-left: 15px;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px;
            color: #000;
            cursor: pointer;
            margin-bottom: 10px;
        }
        @include b('search-list-item') {
            height: 40px;
            display: flex;
            justify-content: space-between;
            padding: 0 30px;
            align-items: center;
            cursor: pointer;
        }
        .cs-search-list-item:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
        @include b('search-list-right') {
            width: 50%;
            height: 100%;
            border-left: 1px solid #c2b9b9;
        }
    }
    @include b('menu-list') {
        width: 250px;
        height: 520px;
        position: absolute;
        top: 7%;
        right: 7%;
        background-color: #80e3e5;
        border-radius: 3px;
        z-index: 9;
        box-shadow:
            2px 0 0 0 rgb(0, 0, 0, 0.1),
            0 2px 0 0 rgb(0, 0, 0, 0.1),
            -2px 0 0 0 rgb(0, 0, 0, 0.1),
            0 -2px 0 0 rgb(0, 0, 0, 0.1);
        @include b('menu-list-top') {
            height: 220px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 20px 10px 0 10px;
        }
        @include b('menu-list-item') {
            color: #000;
            width: 32%;
            height: 50px;
            cursor: pointer;
            @include e('icon') {
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            @include e('name') {
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        @include b('menu-list-center') {
            height: 80px;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            margin: 16px 0;
            color: #000;
            cursor: pointer;
            border-top: 1xp solid #ccc;
            border-bottom: 1xp solid #ccc;
            @include b('menu-list-center-item') {
                height: 30px;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 12px;
                @include e('icon') {
                    margin-right: 15px;
                    font-size: 16px;
                }
                @include e('content') {
                    font-size: 14px;
                }
            }
        }
        @include b('menu-list-bottom') {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            color: #000;
            cursor: pointer;
            @include b('menu-list-bottom-item') {
                display: flex;
                height: 30px;
                font-size: 12px;
                justify-content: flex-start;
                align-items: center;
                @include e('icon') {
                    margin-right: 15px;
                    font-size: 16px;
                }
                @include e('content') {
                    font-size: 14px;
                }
            }
        }
    }
}
.mt-4 {
    display: flex;
}
:deep(.el-divider--horizontal) {
    margin: 0px;
}
.cs-menu-list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.cs-menu-list-bottom-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.cs-menu-list-center-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.mt-4 {
    width: 320px;
}
</style>
