<template>
    <div class="singerInformation-box">
        <div class="singerInformation-top">
            <div>
                <img :src="singer.headPicUrl" alt="" class="singer__img" />
            </div>
            <div class="singer-content">
                <div class="singer__name">{{ singer.artistName }}</div>
                <div class="singer__en-name">
                    <span>外文名：{{ singer.alias }}</span>
                    <span style="margin-left: 30px">粉丝：{{ fansNum }}</span>
                </div>
                <div class="singer__desc">
                    基本信息：
                    <span :title="singer.desc" style="display: inline-block; height: 100%">{{
                        singer.desc
                    }}</span>
                </div>
                <div class="singer__production" :title="production[0]">{{ production[0] }}</div>
            </div>
        </div>
        <div>
            <el-tabs v-model="activeName" class="demo-tabs" @tab-click="handleClick">
                <el-tab-pane label="精选" name="first">
                    <div class="listen__aroud" @click="listenAroud">播放全部</div>

                    <!-- <musicList :artistList="artistList"></musicList> -->
                    <Suspense>
                        <!-- 具有深层异步依赖的组件 -->
                        <musicList :music-list="artistList" height="372" />
                        <!-- 在 #fallback 插槽中显示 “正在加载中” -->
                        <template #fallback> Loading... </template>
                    </Suspense>
                </el-tab-pane>
                <el-tab-pane label="歌曲" name="second">222</el-tab-pane>
                <el-tab-pane label="专辑" name="third">333</el-tab-pane>
                <el-tab-pane label="视频" name="fourth">222</el-tab-pane>
                <el-tab-pane label="详情" name="five">333</el-tab-pane>
            </el-tabs>
        </div>
    </div>
</template>
<script setup>
import { useSingerInformationStore } from '../../stores/singerInformation'
const singerInformationStore = useSingerInformationStore()
import { showLoading, hideLoading } from '../../plugins/index' //自封装loading加载效果引入
const musicList = defineAsyncComponent(() => import('../../components/musicList/index.vue'))
// import musicList from './musicList.vue'
import { useMusicListStore } from '../../stores/player'
const musicListStore = useMusicListStore()
const axios = inject('$axios')
import { ElMessage } from 'element-plus'

let artistList = ref([])
function getSinger() {
    showLoading()
    axios
        .get(`/artist/songs?id=${singerInformationStore.id}`)
        .then((res) => {
            artistList.value = res.songs
            artistList.value.forEach((item) => {
                item['isPlay'] = false
            })
            artistList.value.forEach((v) => {
                if (musicListStore.id == v.id) {
                    v.isPlay = true
                } else {
                    v.isPlay = false
                }
            })
            hideLoading()
        })
        .catch((err) => {
            ElMessage.error(err)
            hideLoading()
        })
}
onMounted(() => {
    getSinger()
    getSingerInFM()
    fans()
})
let singer = ref({})
let production = []
// 歌手简介
function getSingerInFM() {
    axios
        .get(`/ugc/artist/get?id=${singerInformationStore.id}`)
        .then((res) => {
            singer.value = res.data
            let arr = []
            arr = singer.value.production.split('<h2>')
            arr.splice(0, 1)

            arr.forEach((item) => {
                production.push(item.replace('</h2>', ''))
            })
            console.log(production)
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
let fansNum = ref(0)
function fans() {
    axios
        .get(`/artist/follow/count?id=${singerInformationStore.id}`)
        .then((res) => {
            fansNum.value = res.data.fansCnt
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
function listenAroud() {
    musicListStore.musicList.dailySongs = artistList.value
    musicListStore.count = 0
    musicListStore.init()
    if (musicListStore.player) {
        musicListStore.player.pause()
    }
    musicListStore.player = null
    musicListStore.toPaly()
}

const activeName = ref('first')

const handleClick = (tab, event) => {
    console.log(tab, event)
}
</script>
<style lang="scss" scoped>
.singerInformation-box {
    color: #000;
    padding-left: 40px;
    padding-right: 24px;
    .singerInformation-top {
        width: 100%;
        display: flex;
        height: 200px;
        .singer__img {
            display: block;
            width: 200px;
            border-radius: 50%;
            height: 100%;
        }
        .singer-content {
            padding-left: 20px;
            .singer__name {
                font-size: 24px;
                font-weight: 500;
            }
            .singer__en-name {
                font-size: 16px;
                margin: 10px 0px;
            }
            .singer__desc {
                font-size: 14px;
                width: calc(100% - 24px);
                height: 76px;
                overflow: hidden;
                text-overflow: ellipsis;
                // white-space: nowrap;
            }
            .singer__production {
                font-size: 14px;
                width: calc(100% - 24px);
                height: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 5px 0px;
            }
        }
    }
}
:deep(.el-tabs__nav-wrap::after) {
    background-color: transparent !important;
}
.listen__aroud {
    width: 100px;
    height: 26px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
    margin: 0px 0px 20px 0px;
}
</style>
