<template>
    <div class="radar-box">
        <div>
            <el-skeleton style="width: 100%">
                <template #template>
                    <div class="radar-top">
                        <el-skeleton
                            animated
                            :loading="loading"
                            :count="3"
                            style="display: flex; justify-content: space-between"
                        >
                            <template #template>
                                <div
                                    style="display: flex"
                                    class="skeleton-item"
                                >
                                    <el-skeleton-item
                                        variant="image"
                                        style="width: 135px; height: 135px"
                                    />
                                </div>
                                <div style="
                                        width: 60%;
                                        display: flex;
                                        align-items: flex-start;
                                        flex-direction: column;
                                    ">
                                    <el-skeleton-item
                                        variant="p"
                                        style="width: 50%; margin: 10px"
                                    />
                                    <el-skeleton-item
                                        variant="p"
                                        style="width: 50%; margin: 10px"
                                    />
                                    <el-skeleton-item
                                        variant="p"
                                        style="width: 50%; margin: 10px"
                                    />
                                </div>
                            </template>
                            <template #default>
                                <div
                                    class="radar-top-item"
                                    v-for="(item, index) in arr"
                                >
                                    <div class="item-img">
                                        <img
                                            :src="item.songs[0]?.al?.picUrl"
                                            alt=""
                                            class="item-img__bg"
                                            @click="play(index, item)"
                                        />
                                    </div>
                                    <div class="item-content">
                                        <div class="item-content__title">{{ item.title }}</div>
                                        <div class="item-content__name">
                                            {{ item.songs[0]?.name }}
                                        </div>
                                        <div class="item-content__authord">
                                            {{ item.songs[0]?.ar[0]?.name }}
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </el-skeleton>
                    </div>
                </template>
            </el-skeleton>
        </div>
        <div class="radar__title">热门</div>
        <div class="hot-list hot-list1">
            <div
                v-for="(item, index) in hotList"
                class="hot-list-item"
            >
                <div class="mask-box">
                    <div>
                        <img
                            v-lazy="item.picUrl"
                            alt=""
                            class="same__img"
                        />
                    </div>
                    <div class="mask">
                        <div class="mask__icon">
                            <svg
                                class="icon"
                                aria-hidden="true"
                            >
                                <use xlink:href="#icon-bofang1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="content-name">{{ item.name }}</div>
            </div>
        </div>
        <div class="radar__title">心情</div>
        <div class="hot-list">
            <div
                v-for="(item, index) in moodList"
                class="hot-list-item"
            >
                <div class="mask-box">
                    <div>
                        <img
                            v-lazy="item.picUrl"
                            alt=""
                            class="same__img"
                        />
                    </div>
                    <div class="mask">
                        <div class="mask__icon">
                            <svg
                                class="icon"
                                aria-hidden="true"
                            >
                                <use xlink:href="#icon-bofang1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="content-name">{{ item.name }}</div>
            </div>
        </div>
        <div class="radar__title">主题</div>

        <div class="hot-list">
            <div
                v-for="(item, index) in themeList"
                class="hot-list-item"
            >
                <div
                    class="mask-box"
                    v-if="item.name"
                >
                    <div>
                        <img
                            v-lazy="item.picUrl"
                            alt=""
                            class="same__img"
                        />
                        <div class="mask">
                            <div class="mask__icon">
                                <svg
                                    class="icon"
                                    aria-hidden="true"
                                >
                                    <use xlink:href="#icon-bofang1"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-name">{{ item.name }}</div>
            </div>
        </div>
    </div>
</template>
<script setup>
const axios = inject('$axios')
import { useMusicListStore } from '../../stores/player'
const musicListStore = useMusicListStore()
import { ElMessage } from 'element-plus'

let personalizedList = ref([])
let topList1 = ref([])
let topList1Index = ref(0)

let topList2 = ref([])
let topList3 = ref([])
let arr = ref([])
let loading = ref(true)
let hotList = ref([])
// moodList
let moodList = ref([])
let themeList = ref([])
onMounted(async () => {
    // 推荐歌单
    axios
        .get(`/personalized?limit=3`)
        .then(async (res) => {
            personalizedList.value = await res.result

            getTopSongs(personalizedList.value[0].id).then((v) => {
                topList1.value = v
                arr.value.push({ songs: topList1.value.songs, title: '猜你喜欢' })
            })
            getTopSongs(personalizedList.value[1].id).then((v) => {
                topList2.value = v
                arr.value.push({ songs: topList2.value.songs, title: '忧伤' })
            })
            getTopSongs(personalizedList.value[2].id).then((v) => {
                topList3.value = v
                arr.value.push({ songs: topList3.value.songs, title: '夜店' })
            })
            Promise.all([
                getTopSongs(personalizedList.value[0].id),
                getTopSongs(personalizedList.value[1].id),
                getTopSongs(personalizedList.value[2].id)
            ]).then(() => {
                loading.value = false
            })
            // console.log(arr.value, '我是推荐的歌单')
        })
        .catch((err) => {
            ElMessage.error(err)
        })

    // 热门电台
    axios
        .get(`/dj/hot`)
        .then(async (res) => {
            hotList.value = res.djRadios.slice(0, 24)
            moodList.value = res.djRadios.slice(24)
            // console.log(res, '我是热门电台')
        })
        .catch((err) => {
            ElMessage.error(err)
        })
    // 主题
    axios
        .get(`/dj/recommend`)
        .then(async (res) => {
            console.log(res, '我是主题电台')
            themeList.value = res.djRadios
            themeList.value.push({})
            themeList.value.push({})
        })
        .catch((err) => {
            ElMessage.error(err)
        })
})
function getTopSongs(id) {
    return axios
        .get(`/playlist/detail?id=${id}`)
        .then(async (res) => {
            let playlistDetail = res.playlist.trackIds
            let ids = []
            playlistDetail.forEach((item) => {
                ids.push(item.id)
            })
            return axios
                .get(`/song/detail?ids=${ids}`)
                .then((res) => {
                    return new Promise((resolve, reject) => {
                        resolve(res)
                    })
                    // console.log(res, '歌单的歌曲详细信息')
                })
                .catch((err) => {
                    ElMessage.error(err)
                })
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
function play(index, item) {
    console.log(index, topList1.value)

    topList1Index.value = index
    if (index == 0) {
        musicListStore.musicList.dailySongs = topList1.value.songs
        utilsFn()
    }
    if (index == 1) {
        musicListStore.musicList.dailySongs = topList2.value.songs
        utilsFn()
    }
    if (index == 2) {
        musicListStore.musicList.dailySongs = topList3.value.songs
        utilsFn()
    }
}
function utilsFn() {
    musicListStore.count = 0
    musicListStore.init()
    if (musicListStore.player) {
        musicListStore.player.pause()
    }
    musicListStore.player = null
    musicListStore.toPaly()
}
watch(
    () => musicListStore.id,
    () => {
        if (topList1Index.value == 0) {
            var index = topList1.value.songs.findIndex((v) => v?.id == musicListStore.id)
            let newArr = topList1.value.songs[index]
            topList1.value.songs.splice(index, 1)
            topList1.value.songs.unshift(newArr)
        }
        if (topList1Index.value == 1) {
            var index = topList2.value.songs.findIndex((v) => v?.id == musicListStore.id)
            let newArr = topList2.value.songs[index]
            topList2.value.songs.splice(index, 1)
            topList2.value.songs.unshift(newArr)
        }
        if (topList1Index.value == 2) {
            var index = topList3.value.songs.findIndex((v) => v?.id == musicListStore.id)
            let newArr = topList3.value.songs[index]
            topList3.value.songs.splice(index, 1)
            topList3.value.songs.unshift(newArr)
        }
    }
)
</script>
<style lang="scss" scoped>
@import url(../../style/bgPlay.css);
.radar-box {
    color: #000;
    padding: 0 24px 0 40px;
    .radar-top {
        display: flex;
        width: 100%;
        height: 150px;
        justify-content: space-between;
        .radar-top-item {
            width: 32%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 10px;
            background-color: red;
            .item-img {
                width: 135px;
                height: 135px;
                .item-img__bg {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }
            .item-content {
                width: 60%;
                height: 100%;
                font-size: 14px;
                color: #fff;

                .item-content__title {
                    margin-top: 7px;
                    padding: 3px;
                    display: inline-block;
                    white-space: nowrap;
                    background-color: rgba(0, 0, 0, 0.3);
                    border-radius: 4px;
                    color: #fff;
                }
                .item-content__name {
                    margin: 7px 0;
                    color: #fff;
                }
            }
        }
        .skeleton-item {
            width: 32%;
            height: 100%;
            display: flex;
            align-items: center;
        }
        .radar-top-item:nth-of-type(1) {
            background: linear-gradient(to right, orange, yellow, green, blue, indigo, violet);
        }
        .radar-top-item:nth-of-type(2) {
            background: linear-gradient(to right, rgb(6, 142, 133), rgba(255, 0, 0, 1));
        }
        .radar-top-item:nth-of-type(3) {
            background: linear-gradient(#0faec3, yellow 10%, green 20%);
        }
    }
    .radar__title {
        font-size: 20px;
        font-weight: 700;
        margin: 15px 0px 14px 0px;
    }
    .hot-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .hot-list-item {
            height: 305px;
            width: 12.7vw;
            position: relative;
            // margin-right: 1vw;
            .same__img {
                width: 12.7vw;
                height: 250px;
                display: block;
                border-radius: 6px;
            }
            .content-name {
                width: 100%;
                height: 32px;
                position: absolute;
                bottom: 0;
                left: 0;
                justify-content: flex-start;
                display: flex;
            }
        }
    }
    .hot-list1 {
        height: 1220px;
    }
}
</style>
