<template>
    <div class="">
        <div class="swiper_container">
            <swiper
                :modules="modules"
                :slides-per-view="1"
                :space-between="50"
                :autoplay="{
                    autoplay: true,
                    delay: 3000,
                    pauseOnMouseEnter: true
                }"
                :loop="true"
                navigation
                :pagination="{ clickable: true }"
                @swiper="onSwiper"
                @slideChange="onSlideChange"
            >
                <swiper-slide v-for="item in swiperSlideList"
                    ><div class="swiper_content">
                        <img :src="item.img1" alt="" class="swiper_img" />
                        <img :src="item.img2" alt="" class="swiper_img" />
                        <img :src="item.img3" alt="" class="swiper_img" /></div
                ></swiper-slide>
            </swiper>
        </div>
        <div class="suggest__title">最新</div>
        <div class="seleted-video">
            <div v-for="item in newList" class="seleted-video-item" @click="playVideo(item.id)">
                <div class="mask-box">
                    <div>
                        <img v-lazy="item.cover" alt="" class="seleted-video-item__img" />
                    </div>
                    <div class="mask">
                        <div class="mask__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-bofang1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="seleted-video__name">{{ item.artistName }}</div>
                <div class="seleted-video__name seleted-video__name2">{{ item.name }}</div>
            </div>
        </div>
        <div class="suggest__title">热门</div>
        <div class="seleted-video">
            <div v-for="item in hotList" class="seleted-video-item" @click="playVideo(item.id)">
                <div class="mask-box">
                    <div>
                        <img v-lazy="item.cover" alt="" class="seleted-video-item__img" />
                    </div>
                    <div class="mask">
                        <div class="mask__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-bofang1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="seleted-video__name">{{ item.artistName }}</div>
                <div class="seleted-video__name seleted-video__name2">{{ item.name }}</div>
            </div>
        </div>
        <div class="suggest__title">合集</div>
        <div class="seleted-video">
            <div
                v-for="item in collectionList"
                class="seleted-video-item"
                @click="playVideo(item.id)"
            >
                <div class="mask-box">
                    <div>
                        <img v-lazy="item.cover" alt="" class="seleted-video-item__img" />
                    </div>
                    <div class="mask">
                        <div class="mask__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-bofang1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="seleted-video__name">{{ item.artistName }}</div>
                <div class="seleted-video__name seleted-video__name2">{{ item.name }}</div>
            </div>
        </div>
        <div class="suggest__title">个性推荐</div>
        <div class="seleted-video seleted-video2">
            <div v-for="item in selfList" class="seleted-video-item" @click="playVideo(item.id)">
                <div class="mask-box">
                    <div>
                        <img v-lazy="item.cover" alt="" class="seleted-video-item__img" />
                    </div>
                    <div class="mask">
                        <div class="mask__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-bofang1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="seleted-video__name">{{ item.artistName }}</div>
                <div class="seleted-video__name seleted-video__name2">{{ item.name }}</div>
            </div>
        </div>
    </div>
</template>
<script setup>
const axios = inject('$axios')
import { useVideoStore } from '../../../stores/video'
const videoStore = useVideoStore()
import { useRouter } from 'vue-router'
const router = useRouter()
import { Navigation, Pagination, A11y, Autoplay } from 'swiper/modules'
import { Swiper, SwiperSlide } from 'swiper/vue'
const modules = [Pagination, Navigation, A11y, Autoplay]
// Import Swiper styles
import 'swiper/css'
import 'swiper/css/navigation'
import 'swiper/css/pagination'
import 'swiper/css/scrollbar'
import { ElMessage } from 'element-plus'

let swiperSlideList = ref([
    {
        img1: 'https://y.qq.com/music/common/upload/ocs/e56b85bf1f1741b1b3467484485627fe.JPG?max_age=2592000',
        img2: 'https://y.qq.com/music/common/upload/ocs/a22a7226ef2a89056c5b99c1c78d8a92.png?max_age=2592000',
        img3: 'https://y.qq.com/music/photo_new/T015R640x360M101003kykZ82P0GVz.jpg?max_age=2592000'
    },
    {
        img1: 'https://y.qq.com/music/common/upload/MUSIC_FOCUS/6092655.jpg?max_age=2592000',
        img2: 'https://y.qq.com/music/common/upload/MUSIC_FOCUS/6099491.png?max_age=2592000',
        img3: 'https://y.qq.com/music/photo_new/T015R640x360M101004cWM4w1FFrvr.jpg?max_age=2592000'
    },
    {
        img1: 'https://y.qq.com/music/photo_new/T015R640x360M101000WtAIw3GUbMK.jpg?max_age=2592000',
        img2: 'https://y.qq.com/music/photo_new/T015R640x360M101002ISiHs2DGS6u.jpg?max_age=2592000',
        img3: 'https://y.qq.com/music/photo_new/T015R640x360M103003kABwD1uhXEz.jpg?max_age=2592000'
    }
])
const onSwiper = (swiper) => {
    // console.log(swiper)
}
const onSlideChange = () => {
    // console.log('slide change')
}
let newList = ref([])
let hotList = ref([])
let collectionList = ref([])
let selfList = ref([])
onMounted(() => {
    // 最新
    axios
        .get(`/mv/first?limit=15`)
        .then((res) => {
            newList.value = res.data.slice(10)
        })
        .catch((err) => {
            ElMessage.error(err)
        })
    // 热门
    axios
        .get(`/mv/all?limit`)
        .then((res) => {
            let arr = res.data
            arr.forEach((item, index) => {
                if (index < 5) {
                    hotList.value.push(item)
                }
                if (index > 5 && index < 16) {
                    selfList.value.push(item)
                }
            })
            //   hotList.value = res.data
        })
        .catch((err) => {
            ElMessage.error(err)
        })
    // 合集
    axios
        .get(`/mv/exclusive/rcmd?limit=5`)
        .then((res) => {
            collectionList.value = res.data
        })
        .catch((err) => {
            ElMessage.error(err)
        })
})
function playVideo(id) {
    videoStore.mvid = id
    axios
        .get(`/mv/url?id=${id}`)
        .then((res) => {
            videoStore.url = res.data.url
            router.push({
                name: `mv`
            })
            console.log(res)
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
</script>
<style lang="scss" scoped>
@import url(../../../style/bgPlay.css);
.swiper_container {
    // width: calc(100vw  - 240px);
    height: 208px;
    overflow: hidden;
}
.swiper-slide {
    height: 220px;
    width: 100%;
    .swiper_content {
        display: flex;
        height: 100%;
        justify-content: space-between;
    }
    .swiper_img {
        width: 32%;
        display: block;
        height: 100%;
    }
}
:deep(.el-scrollbar__bar .is-horizontal) {
    display: none;
}
.suggest__title {
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0px 14px 0px;
}
.seleted-video {
    height: 275px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    .seleted-video-item {
        width: 16vw;
        height: 100%;
        position: relative;
        .seleted-video-item__img {
            position: relative;
            width: 16vw;
            height: 170px;
            display: block;
            border-radius: 6px;
        }
        .seleted-video__name {
            width: 100%;
            height: 32px;
            position: absolute;
            bottom: 50px;
            left: 0;
            justify-content: flex-start;
            display: flex;
        }
        .seleted-video__name2 {
            bottom: 12px !important;
        }
    }
}
.seleted-video2 {
    height: 570px;
    .seleted-video-item {
        height: 48%;
    }
}
</style>
