<template>
    <div class="audition-box">
        <div>
            <el-empty description="等待码代码" />
        </div>
    </div>
</template>
<script setup></script>
<style lang="scss" scoped>
.audition-box {
    color: #000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
