<template>
    <div class="personalInformation-box">
        <div class="personalInformation-top">
            <div class="personalInformation-top-img">
                <img
                    :src="loginStore.avatarUrl"
                    alt=""
                    class="personalInformation-top__avatarUrl"
                />
            </div>
            <div class="personalInformation-top-contnt">
                <div class="userName-content">
                    <div class="userName__name">
                        {{ loginStore.userName }}
                        <span></span>
                    </div>
                    <div class="userName__level">Lv ： {{ loginStore.userLevel.level }}</div>
                </div>
                <div>
                    {{ loginStore.userLevel }}
                </div>
                <div class="interest-contnt">
                    <span>粉丝：</span>
                    <span>10000</span>
                    <span>关注：</span>
                    <span>{{ follows }}</span>
                </div>
            </div>
        </div>
        <div>
            <el-tabs v-model="activeName" class="demo-tabs" @tab-click="handleClick">
                <el-tab-pane label="我喜欢" name="first">
                    <div class="listen__aroud" @click="listenAroud">播放全部</div>
                    <Suspense>
                        <!-- 具有深层异步依赖的组件 -->
                        <musicList :music-list="tableData" @cancelLike="cancelLike" height="380" />

                        <!-- 在 #fallback 插槽中显示 “正在加载中” -->
                        <template #fallback> Loading... </template>
                    </Suspense>
                </el-tab-pane>
                <el-tab-pane label="创建的歌单" name="second">222</el-tab-pane>
                <el-tab-pane label="上传的视频" name="third">333</el-tab-pane>
            </el-tabs>
        </div>
    </div>
</template>
<script setup>
const axios = inject('$axios')
import { useLoginStore } from '../../stores/Login'
const loginStore = useLoginStore()
const musicList = defineAsyncComponent(() => import('../../components/musicList/index.vue'))
import { useMusicListStore } from '../../stores/player.js'
const musicListStore = useMusicListStore()
import { ElMessage } from 'element-plus'
import { showLoading, hideLoading } from '../../plugins/index' //自封装loading加载效果引入

const activeName = ref('first')
const handleClick = (tab, event) => {
    console.log(tab, event)
}

let follows = ref(0)
function getFollows() {
    axios
        .get(`/user/follows?uid=${loginStore.userLevel.userId}`)
        .then((res) => {
            if (res.code == 200) {
                follows.value = res.follow.length
                loginStore.follows = res.follow
            }
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
// 获取关注数
onMounted(() => {
    getFollows()
    getLikeList()
})
let tableData = ref([])

function getLikeList() {
    showLoading()
    axios
        .get(`/likelist?uid=${loginStore.profile.userId}`)
        .then(async (res) => {
            console.log(res)
            let ids = res.ids
            await axios
                .get(`/song/detail?ids=${ids}`)
                .then((res) => {
                    tableData.value = res.songs
                    tableData.value.forEach((item) => {
                        ;(item['isPlay'] = false), (item['like'] = true)
                    })
                    tableData.value.forEach((v) => {
                        if (musicListStore.id == v.id) {
                            v.isPlay = true
                        } else {
                            v.isPlay = false
                        }
                    })
                    hideLoading()
                })
                .catch((err) => {
                    ElMessage.error(err)
                    hideLoading()
                })
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
function listenAroud() {
    musicListStore.musicList.dailySongs = tableData.value
    musicListStore.count = 0
    musicListStore.init()
    if (musicListStore.player) {
        musicListStore.player.pause()
    }
    musicListStore.player = null
    musicListStore.toPaly()
}
function cancelLike() {
    getLikeList()
}
</script>
<style lang="scss" scoped>
.personalInformation-box {
    overflow: auto;
    color: #000;
    padding-left: 40px;
    // overflow: auto;
    color: #000;
    padding-right: 24px;
    .personalInformation-top {
        // font-size: 24px;
        height: 200px;
        font-weight: 700;
        margin-bottom: 15px;
        display: flex;
        .personalInformation-top-img {
            width: 210px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .personalInformation-top__avatarUrl {
                width: 189px;
                height: 189px;
                display: block;
                border-radius: 90px;
            }
        }
        .personalInformation-top-contnt {
            width: calc(100% - 270px);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            margin-left: 30px;
            .userName-content {
                display: flex;
                align-items: center;
                .userName__name {
                    font-size: 26px;
                }
                .userName__level {
                    font-size: 14px;
                    margin-left: 30px;
                }
            }

            .interest-contnt {
                span:nth-of-type(1) {
                    margin-left: 0px;
                }
                span {
                    font-size: 14px;
                    margin: 0 10px;
                }
                span:nth-of-type(2n) {
                    margin: 0px;
                }
            }
        }
    }
}
:deep(.el-tabs__nav-wrap::after) {
    background-color: transparent !important;
}
.listen__aroud {
    width: 100px;
    height: 26px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
}
</style>
