<template>
    <div>
        <div class="lyric-box">
            <div class="back" @click="back">
                <div>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xiangxiajiantou"></use>
                    </svg>
                </div>
            </div>
            <div class="lyric-contianer">
                <div class="lyric-img">
                    <div class="lyric-musicImg">
                        <img :src="musicListStore.musicImg" alt="" class="lyric-musicImg__g" />
                    </div>
                </div>
                <div class="lyric-content">
                    <div class="music__name">{{ musicListStore.musicName }}</div>
                    <div class="music__author">{{ musicListStore.musicAuthor }}</div>
                    <div class="music-lyric" ref="musicLyric">
                        <div class="music-lyric-list" ref="musicLyricList">
                            <div
                                v-for="(item, index) in lyricList"
                                :key="item.id"
                                :class="[listIndex == index ? 'active' : '', 'lyric__item']"
                            >
                                {{ item.word }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <Footer></Footer>
        </div>
    </div>
</template>
<script setup>
const axios = inject('$axios')
import { useRouter } from 'vue-router'
const router = useRouter()
import Footer from '../../layout/footer/index.vue'
import { useMusicListStore } from '../../stores/player.js'
const musicListStore = useMusicListStore()
import { ElMessage } from 'element-plus'

let musicLyricList = ref(null)
let musicLyric = ref(null)
let maxUpLength = ref('')
let musicLyricHeight = ref('')
onMounted(() => {
    getLyric()
})
let lyricList = ref([])
let result = ref([])
// 获取播放歌曲的歌词
async function getLyric() {
    await axios
        .get(`/lyric?id=${musicListStore.id}`)
        .then((res) => {
            result.value = res.lrc.lyric.split('\n')
            for (let i = 0; i < result.value.length; i++) {
                let lrcData = result.value[i].split(']')
                let lrcTime = lrcData[0].substring(1)
                let obj = {
                    time: parseTime(lrcTime),
                    word: lrcData[1]
                }
                lyricList.value.push(obj)
            }
            musicListStore.lyricList = lyricList.value
            musicLyricHeight.value = musicLyric.value.clientHeight
            maxUpLength.value = lyricList.value.length * 30 - musicLyricHeight
        })
        .catch((err) => {
            ElMessage({
                message: err,
                type: 'error'
            })
        })
}

// 将tiem转换为秒的形式
function parseTime(lrcTime) {
    let lrcTimeArr = lrcTime.split(':')
    return Number(lrcTimeArr[0] * 60) + Number(lrcTimeArr[1])
}
function monitorAudio() {
    let currentAudioTime = musicListStore.currentTime
    const index =
        lyricList.value.findIndex((item) => {
            return item.time > currentAudioTime
        }) - 1
    musicListStore.lyricListIndex = index < 0 ? index + 1 : index
    return index < 0 ? index + 1 : index
}
watch(
    () => musicListStore.currentTime,
    () => {
        setUpLength()
    }
)
watch(
    () => musicListStore.id,
    (newVal) => {
        lyricList.value = []
        getLyric()
    }
)
let listIndex = ref(0)
function setUpLength() {
    listIndex.value = monitorAudio()
    let upLength = 30 * listIndex.value + 20 - musicLyricHeight.value / 2
    // 同时如果在开始的前几句歌词因为需要局中显示，会导致顶部会在容器的中，移动的距离是负数，所以在移动距离小于0时，移动距离强制为0
    if (upLength < 0) {
        upLength = 0
    }
    // 如果希望最后一句歌词时，底部与容器的底部重合，可以设置最大移动距离，超出这个值就不在继续增加，最大移动距离为总高度也就是所有的高度累加减去容器的高度
    if (upLength > maxUpLength) {
        upLength = maxUpLength
    }
    musicLyricList.value.style.transform = `translateY(-${upLength}px)`
}
function back() {
    router.back()
}
</script>
<style lang="scss" scoped>
.lyric-box {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, orange, pink);
    .back {
        width: 40px;
        height: 40px;
        margin-left: 15px;
        font-size: 30px;
        color: #000;
    }
    .lyric-contianer {
        height: calc(90vh - 40px);
        width: 100%;
        display: flex;
        .lyric-img {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url(../../assets/bg.png) no-repeat center;
            .lyric-musicImg {
                width: 222px;
                height: 222px;
                // border-radius: 150px;
                .lyric-musicImg__g {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    animation: rotate 12s linear infinite;
                }
                @keyframes rotate {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
        .lyric-content {
            width: 50%;
            color: #000;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .music__name {
                height: 60px;
                font-size: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .music__author {
                height: 60px;
                font-size: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .music-lyric {
                height: 520px;
                overflow: hidden;
                width: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                .music-lyric-list {
                    // position: absolute;
                    // left: 50%;
                    // top: 50%;
                    // transform: translate(-50%);
                    color: #000;
                    .active {
                        color: green;
                        font-size: 22px;
                        // background-color: red;
                    }
                }
                .lyric__item {
                    height: 30px;
                    width: 100%;
                    font-size: 16px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                }
            }
        }
    }
}
</style>
