<template>
    <div class="music-hall-box">
        <div class="music__hall__title">音乐馆</div>
        <div>
            <el-tabs v-model="activeName" class="demo-tabs" @tab-click="handleClick">
                <el-tab-pane label="精选" name="first"><Selected></Selected></el-tab-pane>
                <el-tab-pane label="听书" name="second"><RadioStation></RadioStation></el-tab-pane>
                <el-tab-pane label="排行" name="third"><Ranking></Ranking></el-tab-pane>
                <el-tab-pane label="歌手" name="fourth"
                    ><Singer v-if="singerActive == childProps.name"></Singer
                ></el-tab-pane>
                <el-tab-pane label="分类歌单" name="five"
                    ><SortPlaylists></SortPlaylists
                ></el-tab-pane>
                <el-tab-pane label="数字专辑" name="six"><DigitalAlbum></DigitalAlbum></el-tab-pane>
                <el-tab-pane label="手机专享" name="seven"
                    ><MobileExclusive></MobileExclusive
                ></el-tab-pane>
            </el-tabs>
        </div>
    </div>
</template>
<script setup>
import { defineAsyncComponent } from 'vue'

const Selected = defineAsyncComponent(() => import('./selected/index.vue'))
const RadioStation = defineAsyncComponent(() => import('./radioStation/index.vue'))
// 分类歌单
const SortPlaylists = defineAsyncComponent(() => import('./sortPlaylists/index.vue'))
// 歌手
const Singer = defineAsyncComponent(() => import('./singer/index.vue'))
// 数字专辑
const DigitalAlbum = defineAsyncComponent(() => import('./digitalAlbum/index.vue'))
// 排行
const Ranking = defineAsyncComponent(() => import('./ranking/index.vue'))
const MobileExclusive = defineAsyncComponent(() => import('./mobileExclusive/index.vue'))

const activeName = ref('first')
let childProps = ref({})
let singerActive = ref('fourth')
const handleClick = (tab, event) => {
    childProps.value = tab.props
}
</script>
<style lang="scss" scoped>
.music-hall-box {
    margin-left: 40px;
    box-sizing: border-box;
    // background-color: "#afa3f5";
    color: #000;
    min-width: 945px;
    padding-right: 24px;
    .music__hall__title {
        font-size: 24px;
        font-weight: 700;
        color: '#afa3f5';
    }
}
.demo-tabs > .el-tabs__content {
    padding: 32px;
    color: #6b778c;
    font-size: 32px;
    font-weight: 600;
}
:deep(.el-tabs__nav-wrap::after) {
    background-color: transparent !important;
}
</style>
