<template>
    <div class="">
        <div class="swiper_container">
            <swiper
                :modules="modules"
                :slides-per-view="1"
                :space-between="50"
                :autoplay="{
                    autoplay: true,
                    delay: 3000,
                    pauseOnMouseEnter: true
                }"
                :loop="true"
                navigation
                :pagination="{ clickable: true }"
                @swiper="onSwiper"
                @slideChange="onSlideChange"
            >
                <swiper-slide v-for="item in swiperSlideList"
                    ><div class="swiper_content">
                        <img :src="item.img1" alt="" class="swiper_img" />
                        <img :src="item.img2" alt="" class="swiper_img" />
                        <img :src="item.img3" alt="" class="swiper_img" /></div
                ></swiper-slide>
            </swiper>
        </div>
        <div class="selected__title">官方歌单</div>
        <div class="seleted">
            <div
                v-for="(item, index) in officialList"
                class="seleted-item"
                @click="officialPlay(item, index)"
            >
                <div class="mask-box">
                    <div>
                        <img v-lazy="item.img" alt="" class="seleted-item__img" />
                    </div>
                    <div class="mask">
                        <div class="mask__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-bofang1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="content-name">{{ item.name }}</div>
            </div>
        </div>
        <div class="selected__title">推荐有声电台</div>
        <div class="seleted">
            <div
                v-for="(item, index) in soundRadioList"
                class="seleted-item"
                @click="soundRadioPlay(item, index)"
            >
                <div class="mask-box">
                    <div>
                        <img v-lazy="item.img" alt="" class="seleted-item__img" />
                    </div>
                    <div class="mask">
                        <div class="mask__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-bofang1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="content-name">{{ item.name }}</div>
            </div>
        </div>
        <div class="selected__title">推荐视频</div>
        <div class="seleted-video">
            <div v-for="item in videoList" class="seleted-video-item" @click="playVideo(item.id)">
                <div class="mask-box">
                    <div>
                        <img v-lazy="item.cover" alt="" class="seleted-video-item__img" />
                    </div>
                    <div class="mask">
                        <div class="mask__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-bofang1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="seleted-video__name">{{ item.artistName }}</div>
                <div class="seleted-video__name seleted-video__name2">{{ item.name }}</div>
            </div>
        </div>
        <div class="selected__title">最新发行</div>
        <div class="seleted">
            <div
                v-for="(item, index) in newIssueList"
                class="seleted-item"
                @click="newIssuePlay(item, index)"
            >
                <div class="mask-box">
                    <div>
                        <img v-lazy="item.img" alt="" class="seleted-item__img" />
                    </div>
                    <div class="mask">
                        <div class="mask__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-bofang1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="content-name">{{ item.name }}</div>
            </div>
        </div>
        <div class="selected__title">分类专区</div>
        <div class="seleted">
            <div
                v-for="(item, index) in seletedList"
                class="seleted-item"
                @click="seletedPlay(item, index)"
            >
                <div class="mask-box">
                    <div>
                        <img v-lazy="item.img" alt="" class="seleted-item__img" />
                    </div>
                    <div class="mask">
                        <div class="mask__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-bofang1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="content-name">{{ item.name }}</div>
            </div>
        </div>
    </div>
</template>
<script setup>
import { Navigation, Pagination, A11y, Autoplay } from 'swiper/modules'
const axios = inject('$axios')
import { useVideoStore } from '../../../stores/video'
const videoStore = useVideoStore()
import { useMusicListStore } from '../../../stores/player'
const musicListStore = useMusicListStore()
import { useRouter } from 'vue-router'
const router = useRouter()
// Import Swiper Vue.js components
import { Swiper, SwiperSlide } from 'swiper/vue'
const modules = [Pagination, Navigation, A11y, Autoplay]
// Import Swiper styles
import 'swiper/css'
import 'swiper/css/navigation'
import 'swiper/css/pagination'
import 'swiper/css/scrollbar'
import { ElMessage } from 'element-plus'

const onSwiper = (swiper) => {
    // console.log(swiper)
}
const onSlideChange = () => {
    // console.log('slide change')
}
let swiperSlideList = ref([
    {
        img1: 'https://y.qq.com/music/common/upload/MUSIC_FOCUS/6083459.png?max_age=2592000',
        img2: 'https://y.qq.com/music/common/upload/MUSIC_FOCUS/6083442.png?max_age=2592000',
        img3: 'https://y.qq.com/music/common/upload/MUSIC_FOCUS/6083306.jpg?max_age=2592000'
    },
    {
        img1: 'https://y.qq.com/music/common/upload/MUSIC_FOCUS/6083719.png?max_age=2592000',
        img2: 'https://y.qq.com/music/common/upload/MUSIC_FOCUS/6085734.jpg?max_age=2592000',
        img3: 'https://y.qq.com/music/common/upload/MUSIC_FOCUS/6083245.jpg?max_age=2592000'
    },
    {
        img1: 'https://y.qq.com/music/common/upload/ocs/6b5afa288a9ada5754bb6eb4cbadb6da.png?max_age=2592000',
        img2: 'https://y.qq.com/music/common/upload/MUSIC_FOCUS/6083222.png?max_age=2592000',
        img3: 'https://y.qq.com/music/common/upload/MUSIC_FOCUS/6047319.png?max_age=2592000'
    }
])
let videoList = ref([
    {
        img: 'https://qpic.y.qq.com/music_cover/I28ic19Iwp8AicOQlxrIkEIk4UUQOjGOUqSrWPVLgMYIyxyhSVTeeKyA/300?n=1',
        name: '每日30首'
    },
    {
        img: 'https://qpic.y.qq.com/music_cover/kcK3MZhu0V6Oc6oSDIGoSVsBkwJmic33UzgfFxictia7YtQElZcezflhQ/300?n=1',
        name: '新歌推荐'
    },
    {
        img: 'https://y.qq.com/music/photo_new/T002R300x300M000004NNb1l12IXjK.jpg?max_age=2592000',
        name: '百万收藏'
    },
    {
        img: 'https://qpic.y.qq.com/music_cover/MQTdYY3l4ibGMUIVRVZ5Eia0JaVhz0QA0pEacdGBdVgLGpu3Ffc7uib8g/300?n=1',
        name: '杜比专区'
    },
    {
        img: 'https://y.qq.com/music/photo_new/T002R300x300M000004NNb1l12IXjK.jpg?max_age=2592000',
        name: '百万收藏'
    }
])
// 播放推荐视频
function playVideo(id) {
    videoStore.mvid = id
    axios
        .get(`/mv/url?id=${id}`)
        .then((res) => {
            videoStore.url = res.data.url
            router.push({
                name: `mv`
            })
            console.log(res)
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
onMounted(() => {
    getPlayList()
    axios
        .get(`/top/mv`)
        .then((res) => {
            videoList.value = res.data.slice(0, 5)
            console.log(res)
        })
        .catch((err) => {
            ElMessage.error(err)
        })
})
let officialList = ref([])

let soundRadioList = ref([])
let newIssueList = ref([])
let seletedList = ref([])
// 全部的歌单
let playlist = ref([])
function getPlayList() {
    axios
        .get(`/top/playlist/highquality`)
        .then((res) => {
            playlist.value = res.playlists
            let arr = res.playlists
            arr.forEach((item, index) => {
                if (index < 6) {
                    officialList.value.push({
                        img: item.coverImgUrl,
                        name: item.name
                    })
                }
                if (index > 6 && index < 13) {
                    soundRadioList.value.push({
                        img: item.coverImgUrl,
                        name: item.name
                    })
                }
                if (index > 13 && index < 20) {
                    newIssueList.value.push({
                        img: item.coverImgUrl,
                        name: item.name
                    })
                }
                if (index > 20 && index < 27) {
                    seletedList.value.push({
                        img: item.coverImgUrl,
                        name: item.name
                    })
                }
            })
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
function officialPlay(item, index) {
    let id = playlist.value[index].id
    getSongsDetial(id)
}
function soundRadioPlay(item, index) {
    let id = playlist.value[index + 6].id
    getSongsDetial(id)
}
function newIssuePlay(item, index) {
    let id = playlist.value[index + 12].id
    getSongsDetial(id)
}
function seletedPlay(item, index) {
    let id = playlist.value[index + 18].id
    getSongsDetial(id)
}

// 歌单播放方法
async function getSongsDetial(id) {
    await axios
        .get(`/playlist/detail?id=${id}`)
        .then(async (res) => {
            let playlistDetail = await res.playlist.trackIds
            let ids = []
            playlistDetail.forEach((item) => {
                ids.push(item.id)
            })
            let songList = await axios
                .get(`/song/detail?ids=${ids}`)
                .then(async (res) => {
                    return res
                })
                .catch((err) => {
                    ElMessage.error(err)
                })
            musicListStore.musicList.dailySongs = songList.songs
            utilsFn()
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
function utilsFn() {
    musicListStore.count = 0
    musicListStore.init()
    if (musicListStore.player) {
        musicListStore.player.pause()
    }
    musicListStore.player = null
    musicListStore.toPaly()
}
</script>
<style lang="scss" scoped>
@import url(../../../style/bgPlay.css);
.swiper_container {
    // width: calc(100vw  - 240px);
    height: 208px;
    overflow: hidden;
}
.swiper-slide {
    height: 220px;
    width: 100%;
    .swiper_content {
        display: flex;
        height: 100%;
        justify-content: space-between;
    }
    .swiper_img {
        width: 32%;
        display: block;
        height: 100%;
    }
}
:deep(.el-scrollbar__bar .is-horizontal) {
    display: none;
}
.selected__title {
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0px 14px 0px;
}
.seleted {
    height: 305px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .seleted-item {
        width: 13vw;
        position: relative;
        .seleted-item__img {
            position: relative;
            display: block;
            width: 13vw;
            height: 250px;
            border-radius: 6px;
        }
    }
}

.content-name {
    width: 100%;
    height: 32px;
    position: absolute;
    bottom: 0px;
    left: 0;
    justify-content: flex-start;
    display: flex;
}
.seleted-video {
    height: 275px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    .seleted-video-item {
        width: 16vw;
        height: 100%;
        position: relative;
        .seleted-video-item__img {
            position: relative;
            width: 16vw;
            height: 170px;
            display: block;
            border-radius: 6px;
            box-sizing: border-box;
        }
        .seleted-video__name {
            width: 100%;
            height: 32px;
            position: absolute;
            bottom: 50px;
            left: 0;
            justify-content: flex-start;
            display: flex;
        }
        .seleted-video__name2 {
            bottom: 12px !important;
        }
    }
}
</style>
