<template>
    <div class="">
        <div v-if="props.musicList.length">
            <el-table
                :data="props.musicList"
                style="width: 100%; background-color: #80e3e5"
                :row-style="getRowStyle"
                :height="props.height"
                :header-cell-style="getHeaderRowStyle"
            >
                <el-table-column fixed prop="song.name" label="歌曲">
                    <template #default="scope">
                        <div
                            style="
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            "
                            class="music-list-item"
                        >
                            <div class="music-name">{{ scope.row.name }}</div>
                            <div class="music-list-item-right">
                                <div
                                    class="list-item-right__icon"
                                    @click="toPlay(scope)"
                                    v-if="!scope.row.isPlay"
                                >
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-24gl-play"></use>
                                    </svg>
                                </div>
                                <div class="list-item-right__icon" @click="toPlay(scope)" v-else>
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-24gl-pause"></use>
                                    </svg>
                                </div>
                                <div
                                    class="list-item-right__icon"
                                    @click="like(scope.row.id, scope)"
                                    v-if="!scope.row.like"
                                >
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-shoucang1"></use>
                                    </svg>
                                </div>
                                <el-popconfirm
                                    confirm-button-text="确定"
                                    cancel-button-text="取消"
                                    width="350"
                                    icon-color="#626AEF"
                                    title="确定删除歌单歌曲吗？若由于误操作删除歌曲，可以通过右键点击【回复歌单进行恢复】"
                                    @confirm="confirmEvent(scope.row.id)"
                                    @cancel="cancelEvent"
                                    v-else
                                >
                                    <template #reference>
                                        <div class="list-item-right__icon">
                                            <svg class="icon" aria-hidden="true">
                                                <use xlink:href="#icon-cpxihuan"></use>
                                            </svg>
                                        </div>
                                    </template>
                                </el-popconfirm>

                                <div class="list-item-right__icon">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-charulianjie"></use>
                                    </svg>
                                </div>
                                <div class="list-item-right__icon">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-pinglun"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="ar[0].name" label="歌手" />
                <el-table-column prop="al.name" label="专辑" />
            </el-table>
        </div>
        <div v-else>
            <el-empty description="暂无数据" />
        </div>
    </div>
</template>
<script setup>
const axios = inject('$axios')
import { ElMessage, ElNotification } from 'element-plus'

const props = defineProps(['musicList', 'height'])
import { useMusicListStore } from '../../stores/player.js'
const musicListStore = useMusicListStore()
const emits = defineEmits(['cancelLike'])

function toPlay(scope) {
    if (musicListStore.id != scope.row.id) {
        musicListStore.id = scope.row.id
        if (musicListStore.player != null) {
            musicListStore.player.pause()
        }
        musicListStore.player = null
    }
    musicListStore.musicList['dailySongs'] = props.musicList
    props.musicList.forEach((v, index) => {
        if (scope.row.id == v.id) {
            v.isPlay = !v.isPlay
        } else {
            v.isPlay = false
        }
    })
    musicListStore.toPaly()
}
// 收藏
function like(id, scope) {
    axios
        .get(`/like?id=${id}`)
        .then(async (res) => {
            // debugger
            if (res.code == 200) {
                ElNotification({
                    title: 'Success',
                    message: '已收藏',
                    type: 'success'
                })
                emits('cancelLike')
            } else {
                ElNotification({
                    title: 'Error',
                    message: '收藏失败！',
                    type: 'error'
                })
            }
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
function getRowStyle() {
    return {
        background: '#80e3e5',
        border: 'none',
        color: '#000'
    }
}
function getHeaderRowStyle() {
    return {
        background: '#80e3e5',
        border: 'none',
        color: '#000'
    }
}
// 取消收藏
const confirmEvent = (id) => {
    axios
        .get(`/like?id=${id}&like=false`)
        .then(async (res) => {
            if (res.code == 200) {
                ElNotification({
                    title: 'Success',
                    message: '已从喜欢中删除歌曲',
                    type: 'success'
                })
                emits('cancelLike')
            } else {
                ElNotification({
                    title: 'Error',
                    message: '删除失败！',
                    type: 'error'
                })
            }
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}

const cancelEvent = () => {
    console.log('cancel!')
}

watch(
    () => musicListStore.id,
    () => {
        props.musicList.forEach((item) => {
            if (item.id == musicListStore.id) {
                item.isPlay = true
            } else {
                item.isPlay = false
            }
        })
    }
)
watch(
    () => musicListStore.playerFlag,
    (newVal) => {
        if (newVal) {
            props.musicList.forEach((item) => {
                item.isPlay = false
            })
        } else {
            props.musicList.forEach((item) => {
                if (item.id == musicListStore.id) {
                    item.isPlay = true
                } else {
                    item.isPlay = false
                }
            })
        }
    }
)
</script>
<style lang="scss" scoped>
.music-list-item-right {
    display: flex;
    width: 30%;
    align-items: center;
    // display: none;
    opacity: 0;
    .list-item-right__icon {
        font-size: 18px;
        margin: 0 10px;
    }
}
:deep(tr.hover-row) {
    &,
    &.el-table__row--striped {
        &,
        &.current-row {
            > td > .cell > .music-list-item > .music-list-item-right {
                // background-color: red;
                opacity: 1;
            }
        }
    }
}

:deep(.el-table:not(.el-table--border) .el-table__cell) {
    border: none !important;
}
// 去除底部table有白线
:deep(.el-table__inner-wrapper::before) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    z-index: 3;
}
:deep(.el-empty__description p) {
    color: #000;
}
:deep(.el-scrollbar__bar.is-vertical) {
    // background-color: red;
    // width: 0%;
}
</style>
