<template>
    <div class="video-box">
        <div class="video-box__title">视频</div>
        <div>
            <el-tabs v-model="activeName" class="demo-tabs" @tab-click="handleClick">
                <el-tab-pane label="推荐" name="first"><Suggest></Suggest></el-tab-pane>
                <el-tab-pane label="排行榜" name="second">2222</el-tab-pane>
                <el-tab-pane label="视频库" name="third">333</el-tab-pane>
            </el-tabs>
        </div>
    </div>
</template>
<script setup>
import { defineAsyncComponent } from 'vue'

const Suggest = defineAsyncComponent(() => import('./suggest/index.vue'))
// const RadioStation = defineAsyncComponent(() => import('./radioStation/index.vue'))
// // 分类歌单
// const SortPlaylists = defineAsyncComponent(() => import('./sortPlaylists/index.vue'))

const activeName = ref('first')
let childProps = ref({})
const handleClick = (tab, event) => {
    childProps.value = tab.props
}
</script>
<style lang="scss" scoped>
.video-box {
    color: #000;
    padding: 0 24px 0 40px;
    .video-box__title {
        font-size: 24px;
        font-weight: 700;
        color: '#afa3f5';
    }
}
:deep(.el-tabs__nav-wrap::after) {
    background-color: transparent !important;
}
</style>
