<template>
    <div class="">
        <p>Showing {{ isEven ? 'even' : 'odd' }} items</p>
        <button @click="toggle">Toggle Even/Odd</button>
        <div v-bind="containerProps" style="height: 300px">
            <div v-bind="wrapperProps">
                <div
                    v-for="item in list"
                    :key="item.index"
                    style="height: 66px"
                    class="virtualList-item"
                >
                    Row: {{ item.data }}
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
import { useVirtualList, useToggle } from '@vueuse/core'
import { computed } from 'vue'

const [isEven, toggle] = useToggle()
const allItems = Array.from(Array(99999).keys())
const filteredList = computed(() =>
    allItems.filter((i) => (isEven.value ? i % 2 === 0 : i % 2 === 1))
)

const { list, containerProps, wrapperProps } = useVirtualList(filteredList, {
    itemHeight: 66
})
</script>
<style lang="scss" scoped>
.virtualList-item:nth-of-type(n) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.virtualList-item:nth-of-type(2n) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 255, 0);
}
</style>
