.mask-box {
    position: relative;
    width: 100%;
    /* margin-top: 14px; */
    transition: all 0.4s; /* 上浮这个过程需要的时间 */
    .mask {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
    }
    .mask__icon {
        font-size: 22px;
        width: 46px;
        height: 46px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
}
.mask-box .mask:hover {
    opacity: 1;
}
.mask-box:hover {
    transform: translate(0, -10px);
    animation: 1s;
}
