<template>
    <div class="singer-box">
        <div class="singer-box-international">
            <div
                v-for="(item, index) in internationalList"
                :class="['international__item', internationIndex == item.id ? 'active' : '']"
                @click="internationalFn(item, index)"
            >
                {{ item.name }}
            </div>
        </div>
        <div class="singer-box-gender">
            <div
                v-for="(item, index) in genderlList"
                :class="['gender__item', gendeIndex == item.id ? 'active' : '']"
                @click="genderFn(item, index)"
            >
                {{ item.name }}
            </div>
        </div>
        <div class="singer-box-letters">
            <div
                v-for="(item, index) in letterslList"
                :class="['letters__item', lettersIndex == index ? 'active' : '']"
                @click="lettersFn(item, index)"
            >
                {{ item }}
            </div>
        </div>
        <div class="music-content-hot">
            <div
                class="music-item"
                v-for="item in artistListHot"
                @click="toSingerInformation(item)"
            >
                <div class="music-top">
                    <img :src="item.img1v1Url" alt="" class="music__img" />
                </div>
                <div class="music__name">
                    {{ item.name }}
                </div>
            </div>
        </div>
        <div class="music-content">
            <div
                class="music-item"
                v-for="item in artistListBot"
                @click="toSingerInformation(item)"
            >
                <div class="music__name">
                    {{ item.name }}
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
const axios = inject('$axios')
import { useRouter } from 'vue-router'
const router = useRouter()
import { useSingerInformationStore } from '../../../stores/singerInformation'
const singerInformationStore = useSingerInformationStore()
import { showLoading, hideLoading } from '../../../plugins/index' //自封装loading加载效果引入
import { ElMessage } from 'element-plus'

let internationIndex = ref(-1)
let internationalList = ref([
    { name: '全部', id: -1 },
    { name: '华语', id: 7 },
    { name: '韩国', id: 16 },
    { name: '欧美', id: 96 },
    { name: '日本', id: 8 },
    { name: '其他', id: 0 }
])
function internationalFn(item, index) {
    internationIndex.value = item.id
}
let gendeIndex = ref(-1)
let genderlList = ref([
    { name: '全部', id: -1 },
    { name: '男歌手', id: 1 },
    { name: '女歌手', id: 2 },
    { name: '乐队', id: 3 }
])
function genderFn(item, index) {
    gendeIndex.value = item.id
}
let lettersIndex = ref(0)
let letterslList = ref([
    '全部',
    'a',
    'b',
    'c',
    'd',
    'e',
    'f',
    'g',
    'h',
    'i',
    'j',
    'k',
    'l',
    'm',
    'n',
    'o',
    'p',
    'q',
    'r',
    's',
    't',
    'u',
    'v',
    'w',
    'x',
    'y',
    'z'
])

let letter = ref('')
function lettersFn(item, index) {
    lettersIndex.value = index
    letter.value = letterslList[index]
}
// 接口
let artistList = ref([])
function getArtist() {
    showLoading()
    axios
        .get(
            `/artist/list?type=${gendeIndex.value}&area=${
                internationIndex.value
            }&initial=${-1}&limit=60`
        )
        .then((res) => {
            artistList.value = res.artists
            hideLoading()
            console.log('userAcc/artist/list?', res)
        })
        .catch((err) => {
            ElMessage.error(err)
            hideLoading()
        })
}
function toSingerInformation(item) {
    router.push({
        name: 'singerInformation'
    })
    singerInformationStore.id = item.id
}
onMounted(() => {
    getArtist()
})
const artistListHot = computed(() => {
    return artistList.value.slice(0, 10)
})
const artistListBot = computed(() => {
    return artistList.value.slice(10)
})
watch(
    () => internationIndex.value,
    () => {
        getArtist()
    }
)
watch(
    () => gendeIndex.value,
    () => {
        getArtist()
    }
)
</script>
<style lang="scss" scoped>
.singer-box {
    width: 100%;
    height: 100%;
    .singer-box-international {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        .international__item {
            height: 30px;
            width: 86px;
            font-size: 14px;
            background-color: #fff;
            color: #000;
            margin: 0 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    .singer-box-gender {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin-top: 10px;
        .gender__item {
            height: 30px;
            width: 86px;
            font-size: 14px;
            background-color: #fff;
            margin: 0 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            color: #000;
            cursor: pointer;
        }
    }
    .singer-box-letters {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        .letters__item {
            height: 30px;
            // width: 30px;
            font-size: 14px;
            padding: 0 10px;
            background-color: #fff;
            margin: 0 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            color: #000;
            cursor: pointer;
        }
        .letters__item:nth-of-type(1) {
            margin-left: 15px;
        }
    }
    .active {
        background-color: rgb(46, 46, 191) !important;
        color: #fff !important;
    }
    .music-content-hot {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        justify-content: flex-start;
        .music-item {
            width: 14vw;
            height: 260px;
            // background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .music-top {
                width: 12vw;
                height: 12vw;
                // background-color: yellow;
                .music__img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            .music__name {
                font-size: 14px;
                color: #000;
                margin-top: 15px;
            }
        }
        .music-item:nth-child(n + 11) {
            .music-top {
                display: none;
            }
        }
    }
    .music-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .music-item {
            width: 12vw;
            height: 6vh;
            // background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1vw;
            cursor: pointer;
            .music__name {
                font-size: 14px;
                color: #000;
                margin-top: 15px;
            }
        }
    }
}
</style>
