<template>
    <div class="recommend-box">
        <div class="recommend">为你推荐</div>
        <!--今日为你推荐  -->
        <div>
            <div class="recommend-title__same">Hi, {{ loginStore.userName }} 今日为你推荐</div>
            <div class="recommend-content">
                <div
                    v-for="(item, index) in recommendList"
                    :class="item.class"
                    @click="palyMUsic(item, index)"
                >
                    <div class="mask-box">
                        <img
                            v-lazy="item.img"
                            alt=""
                            :class="item.class__img"
                        />
                        <div class="mask">
                            <div class="mask__icon">
                                <svg
                                    class="icon"
                                    aria-hidden="true"
                                >
                                    <use xlink:href="#icon-bofang1"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="content-name">{{ item.name }}</div>
                </div>
            </div>
        </div>
        <!--你的歌单宝库  -->
        <div>
            <div class="recommend-title__same">你的歌单宝库</div>
            <!-- <el-carousel indicator-position="outside">
                <el-carousel-item>
                    <div class="song-list">
                        <div
                            v-for="(item, index) in songList"
                            :class="item.class"
                            @click="recommendYou(item, index)"
                        >
                            <div class="mask-box">
                                <div>
                                    <img v-lazy="item.img" alt="" :class="item.class__img" />
                                </div>
                                <div class="mask">
                                    <div class="mask__icon">
                                        <svg class="icon" aria-hidden="true">
                                            <use xlink:href="#icon-bofang1"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="content-name">{{ item.name }}</div>
                        </div>
                    </div>
                </el-carousel-item>
                <el-carousel-item>
                    <div class="song-list">
                        <div
                            v-for="(item, index) in songList"
                            :class="item.class"
                            @click="recommendYou(item, index)"
                        >
                            <div class="mask-box">
                                <div>
                                    <img v-lazy="item.img" alt="" :class="item.class__img" />
                                </div>
                                <div class="mask">
                                    <div class="mask__icon">
                                        <svg class="icon" aria-hidden="true">
                                            <use xlink:href="#icon-bofang1"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="content-name">{{ item.name }}</div>
                        </div>
                    </div>
                </el-carousel-item>
            </el-carousel> -->
            <div class="song-list">
                <div
                    v-for="(item, index) in songList"
                    :class="item.class"
                    @click="recommendYou(item, index)"
                >
                    <div class="mask-box">
                        <div>
                            <img
                                v-lazy="item.img"
                                alt=""
                                :class="item.class__img"
                            />
                        </div>
                        <div class="mask">
                            <div class="mask__icon">
                                <svg
                                    class="icon"
                                    aria-hidden="true"
                                >
                                    <use xlink:href="#icon-bofang1"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="content-name">{{ item.name }}</div>
                </div>
            </div>
        </div>
        <!--大家都在听  -->
        <div>
            <div class="listen">
                <div class="listen__h">大家都在听</div>
                <div
                    class="listen__aroud"
                    @click="listenAroud"
                >播放全部</div>
            </div>
            <div class="listen-content">
                <div
                    v-for="item in listenList"
                    class="listen-content-l"
                >
                    <div class="listen-content-item">
                        <div>
                            <img
                                :src="item.al.picUrl"
                                alt=""
                                class="listen-item__img"
                            />
                        </div>
                        <div class="author-name">
                            <div class="listen-item__name">{{ item.name }}</div>
                            <div class="listen-item__author">{{ item.ar[0].name }}</div>
                        </div>
                    </div>
                    <div class="listen-content-r">
                        <div
                            class="listen-content-r__icon"
                            @click="toPlay(item)"
                            v-if="!item.isPlay"
                        >
                            <svg
                                class="icon"
                                aria-hidden="true"
                            >
                                <use xlink:href="#icon-24gl-play"></use>
                            </svg>
                        </div>
                        <div
                            class="listen-content-r__icon"
                            @click="toPlay(item)"
                            v-else
                        >
                            <svg
                                class="icon"
                                aria-hidden="true"
                            >
                                <use xlink:href="#icon-24gl-pause"></use>
                            </svg>
                        </div>
                        <div class="listen-content-r__icon">
                            <svg
                                class="icon"
                                aria-hidden="true"
                            >
                                <use xlink:href="#icon-xiazai"></use>
                            </svg>
                        </div>
                        <div class="listen-content-r__icon">
                            <svg
                                class="icon"
                                aria-hidden="true"
                            >
                                <use xlink:href="#icon-liuyan"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div
                    class="jiantou__left"
                    @click="previousPage"
                >
                    <svg
                        class="icon"
                        aria-hidden="true"
                    >
                        <use xlink:href="#icon-zuojiantou"></use>
                    </svg>
                </div>
                <div
                    class="jiantou__right"
                    @click="nextPage"
                >
                    <svg
                        class="icon"
                        aria-hidden="true"
                    >
                        <use xlink:href="#icon-youjiantou"></use>
                    </svg>
                </div>
            </div>
        </div>
        <!--歌单遨游指南  -->
        <div>
            <div class="recommend-title__same">歌单遨游指南</div>
            <div class="singing-list">
                <div
                    v-for="(item, index) in singingList"
                    :class="item.class"
                    @click="singingPlay(item, index)"
                >
                    <div class="mask-box">
                        <div>
                            <img
                                v-lazy="item.img"
                                alt=""
                                :class="item.class__img"
                            />
                        </div>
                        <div class="mask">
                            <div class="mask__icon">
                                <svg
                                    class="icon"
                                    aria-hidden="true"
                                >
                                    <use xlink:href="#icon-bofang1"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="content-name">{{ item.name }}</div>
                </div>
            </div>
        </div>
        <!--值得红心的宝藏歌曲  -->
        <div>
            <div class="listen">
                <div class="listen__h">值得红心的宝藏歌曲</div>
                <div
                    class="listen__aroud"
                    @click="listenAroudLove"
                >播放全部</div>
            </div>
            <div class="listen-content2">
                <div
                    v-for="item in loveList"
                    class="listen-content-l"
                >
                    <div class="listen-content-item">
                        <div>
                            <img
                                :src="item.al.picUrl"
                                alt=""
                                class="listen-item__img"
                            />
                        </div>
                        <div class="author-name">
                            <div class="listen-item__name">{{ item.name }}</div>
                            <div class="listen-item__author">{{ item.ar[0].name }}</div>
                        </div>
                    </div>
                    <div class="listen-content-r">
                        <div
                            class="listen-content-r__icon"
                            @click="toPlay(item)"
                            v-if="!item.isPlay"
                        >
                            <svg
                                class="icon"
                                aria-hidden="true"
                            >
                                <use xlink:href="#icon-24gl-play"></use>
                            </svg>
                        </div>
                        <div
                            class="listen-content-r__icon"
                            @click="toPlay(item)"
                            v-else
                        >
                            <svg
                                class="icon"
                                aria-hidden="true"
                            >
                                <use xlink:href="#icon-24gl-pause"></use>
                            </svg>
                        </div>
                        <div class="listen-content-r__icon">
                            <svg
                                class="icon"
                                aria-hidden="true"
                            >
                                <use xlink:href="#icon-xiazai"></use>
                            </svg>
                        </div>
                        <div class="listen-content-r__icon">
                            <svg
                                class="icon"
                                aria-hidden="true"
                            >
                                <use xlink:href="#icon-liuyan"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div
                    class="jiantou__left"
                    @click="previousPageLove"
                >
                    <svg
                        class="icon"
                        aria-hidden="true"
                    >
                        <use xlink:href="#icon-zuojiantou"></use>
                    </svg>
                </div>
                <div
                    class="jiantou__right"
                    @click="nextPageLove"
                >
                    <svg
                        class="icon"
                        aria-hidden="true"
                    >
                        <use xlink:href="#icon-youjiantou"></use>
                    </svg>
                </div>
            </div>
        </div>
        <!--热点节目，听点不一样的  -->
        <div>
            <div class="recommend-title__same">热点节目，听点不一样的</div>
            <div class="singing-list">
                <div
                    v-for="(item, index) in hotProgramsList"
                    :class="item.class"
                    @click="hotProgramsPlay(item, index)"
                >
                    <div class="mask-box">
                        <div>
                            <img
                                v-lazy="item.img"
                                alt=""
                                :class="item.class__img"
                            />
                        </div>
                        <div class="mask">
                            <div class="mask__icon">
                                <svg
                                    class="icon"
                                    aria-hidden="true"
                                >
                                    <use xlink:href="#icon-bofang1"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="content-name">{{ item.name }}</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
const axios = inject('$axios')
import { useMusicListStore } from '../../stores/player'
const musicListStore = useMusicListStore()
import { useLoginStore } from '../../stores/Login'
const loginStore = useLoginStore()
import { ElMessage } from 'element-plus'

const recommendList = ref([
    {
        class: 'you-like',
        class__img: 'you-like__img',
        img: 'https://y.qq.com/music/common/upload/ocs/9f9759a4539585c8b9b3a58301155732.jpg?max_age=2592000',
        name: '猜你喜欢'
    },
    {
        class: 'day30',
        class__img: 'same__img',
        img: 'https://qpic.y.qq.com/music_cover/I28ic19Iwp8AicOQlxrIkEIk4UUQOjGOUqSrWPVLgMYIyxyhSVTeeKyA/300?n=1',
        name: '每日30首'
    },
    {
        class: 'new-music',
        class__img: 'same__img',
        img: 'https://qpic.y.qq.com/music_cover/kcK3MZhu0V6Oc6oSDIGoSVsBkwJmic33UzgfFxictia7YtQElZcezflhQ/300?n=1',
        name: '新歌推荐'
    },
    {
        class: 'million-collections',
        class__img: 'same__img',
        img: 'https://y.qq.com/music/photo_new/T002R300x300M000004NNb1l12IXjK.jpg?max_age=2592000',
        name: '百万收藏'
    },
    {
        class: 'dolby-zone',
        class__img: 'same__img',
        img: 'https://qpic.y.qq.com/music_cover/MQTdYY3l4ibGMUIVRVZ5Eia0JaVhz0QA0pEacdGBdVgLGpu3Ffc7uib8g/300?n=1',
        name: '杜比专区'
    }
])
const songList = ref([])
const singingList = ref([])
const hotProgramsList = ref([])

function palyMUsic(item, index) {
    if (index == 1) {
        axios
            .get('/recommend/songs')
            .then((res) => {
                musicListStore.increment(res.data)
                utilsFn()
            })
            .catch((err) => {
                ElMessage.error(err)
            })
    }
    if (index == 2) {
        axios.get('/personalized/newsong').then((res) => {
            let newList = res.result
            musicListStore.musicList['dailySongs'] = newList
            newList.forEach((v, index) => {
                musicListStore.musicList.dailySongs[index] = Object.assign(
                    musicListStore.musicList.dailySongs[index],
                    v.song
                )
                musicListStore.musicList.dailySongs[index]['ar'] = []
                musicListStore.musicList.dailySongs[index]['ar'][0] = {}
                musicListStore.musicList.dailySongs[index]['ar'][0].name =
                    v.originSongSimpleData?.artists[0].name
                musicListStore.musicList.dailySongs[index]['al'] = {}
                musicListStore.musicList.dailySongs[index]['al'].picUrl = v.picUrl
            })
            utilsFn()
        })
    }
}
function utilsFn() {
    musicListStore.count = 0
    musicListStore.init()
    if (musicListStore.player) {
        musicListStore.player.pause()
    }
    musicListStore.player = null
    musicListStore.toPaly()
}
// 歌单宝库
function recommendYou(item, index) {
    let id = topPlaylist.value[index].id
    getSongsDetial(id)
}
// 歌单遨游指南
function singingPlay(item, index) {
    let id = topPlaylist.value[index + 12].id
    getSongsDetial(id)
}
// 热点节目
function hotProgramsPlay(item, index) {
    let id = topPlaylist.value[index + 18].id
    getSongsDetial(id)
}
// 歌单播放方法
function getSongsDetial(id) {
    axios
        .get(`/playlist/detail?id=${id}`)
        .then(async (res) => {
            let playlistDetail = await res.playlist.trackIds
            let ids = []
            playlistDetail.forEach((item) => {
                ids.push(item.id)
            })
            let songList = await axios
                .get(`/song/detail?ids=${ids}`)
                .then((res) => {
                    return res
                })
                .catch((err) => {
                    ElMessage.error(err)
                })
            musicListStore.musicList.dailySongs = songList.songs
            utilsFn()
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
// 精品歌单
let topPlaylist = ref([])
axios
    .get(`/top/playlist`)
    .then(async (res) => {
        topPlaylist.value = await res.playlists
        res.playlists.forEach((item, index) => {
            if (index < 12) {
                songList.value.push({
                    class: 'song-list-item',
                    class__img: 'same__img',
                    img: item.coverImgUrl,
                    name: item.name
                })
            }
            if (index >= 12 && index < 18) {
                singingList.value.push({
                    class: 'singing-list-item',
                    class__img: 'same__img',
                    img: item.coverImgUrl,
                    name: item.name
                })
            }
            if (index >= 18 && index < 24) {
                hotProgramsList.value.push({
                    class: 'singing-list-item',
                    class__img: 'same__img',
                    img: item.coverImgUrl,
                    name: item.name
                })
            }
        })
        // 大家都在听歌单
        getEveryListening(res.playlists[48].id)
        // // 值得红心的歌曲
        getLoveMusic(res.playlists[37].id)
    })
    .catch((err) => {
        ElMessage.error(err)
    })
// 大家都在听歌单
const listenList = ref([])
let newlistenList = ref([])
let current = ref('')
let flag = ref(true)
function previousPage() {
    listenList.value = []
    let newCurrent = Math.ceil(newlistenList.value.length / 6)
    if (current.value >= newCurrent && flag.value) {
        current.value = flag.value ? newCurrent : newCurrent--
    } else {
        current.value--
    }
    if (current.value < 1) {
        current.value = newCurrent
    }
    flag.value = false
    listenList.value = newlistenList.value.slice(current.value * 6 - 6, current.value * 6)
}

function nextPage() {
    listenList.value = []
    if (current.value >= Math.ceil(newlistenList.value.length / 6)) {
        current.value = flag.value ? 2 : 1
    } else {
        current.value++
    }
    listenList.value = newlistenList.value.slice(current.value * 6 - 6, current.value * 6)
    if (current.value == 1) {
        listenList.value = newlistenList.value.slice(0, 6)
    }
}
// 设置大家都在听的歌单
function getEveryListening(id) {
    axios
        .get(`/playlist/detail?id=${id}`)
        .then((res) => {
            let playlistDetail = res.playlist.trackIds
            let ids = []
            playlistDetail.forEach((item) => {
                ids.push(item.id)
            })
            everySongDetail(ids)
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
function everySongDetail(ids) {
    axios
        .get(`/song/detail?ids=${ids}`)
        .then((res) => {
            if (res.code == 200) {
                newlistenList.value = res.songs
                // listenList.value = newlistenList.value.slice(0, 6)
                current.value = Math.ceil(newlistenList.value.length / 6)
                newlistenList.value.forEach((item) => {
                    item['isPlay'] = false
                })
                newlistenList.value.forEach((v) => {
                    if (musicListStore.id == v.id) {
                        v.isPlay = true
                    } else {
                        v.isPlay = false
                    }
                })
                // 获取dom元素
                const special = document.querySelector('.listen-content')
                // 创建实例
                const io = new IntersectionObserver((entries) => {
                    // 是否进满足条件
                    if (entries[0].isIntersecting) {
                        listenList.value = newlistenList.value.slice(0, 6)
                        // 取消观察
                        io.unobserve(special)
                    }
                })

                // 开始观察
                io.observe(special)
            }
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
// 值得红心歌曲
const loveList = ref([])
let newLoveList = ref([])
let currentLove = ref('')
let flagLove = ref(true)
function previousPageLove() {
    loveList.value = []
    let newCurrent = Math.ceil(newLoveList.value.length / 6)
    if (currentLove.value >= newCurrent && flagLove.value) {
        currentLove.value = flagLove.value ? newCurrent : newCurrent--
    } else {
        currentLove.value--
    }
    if (currentLove.value < 1) {
        currentLove.value = newCurrent
    }
    flagLove.value = false
    loveList.value = newLoveList.value.slice(currentLove.value * 6 - 6, currentLove.value * 6)
}

function nextPageLove() {
    loveList.value = []
    if (currentLove.value >= Math.ceil(newLoveList.value.length / 6)) {
        currentLove.value = flagLove.value ? 2 : 1
    } else {
        currentLove.value++
    }
    loveList.value = newLoveList.value.slice(currentLove.value * 6 - 6, currentLove.value * 6)
    if (currentLove.value == 1) {
        loveList.value = newLoveList.value.slice(0, 6)
    }
}
function getLoveMusic(id) {
    axios
        .get(`/playlist/detail?id=${id}`)
        .then((res) => {
            let playlistDetail = res.playlist.trackIds
            let ids = []
            playlistDetail.forEach((item) => {
                ids.push(item.id)
            })
            loveMusic(ids)
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
function loveMusic(ids) {
    axios
        .get(`/song/detail?ids=${ids}`)
        .then((res) => {
            if (res.code == 200) {
                newLoveList.value = res.songs
                // loveList.value = newLoveList.value.slice(0, 6)
                currentLove.value = Math.ceil(newLoveList.value.length / 6)
                newLoveList.value.forEach((item) => {
                    item['isPlay'] = false
                })
                newLoveList.value.forEach((v) => {
                    if (musicListStore.id == v.id) {
                        v.isPlay = true
                    } else {
                        v.isPlay = false
                    }
                })
                // 获取dom元素
                const special = document.querySelector('.listen-content2')
                // 创建实例
                const io = new IntersectionObserver((entries) => {
                    // 是否进满足条件
                    if (entries[0].isIntersecting) {
                        loveList.value = newLoveList.value.slice(0, 6)
                        // 取消观察
                        io.unobserve(special)
                    }
                })

                // 开始观察
                io.observe(special)
            }
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}

// 播放歌单歌曲
function toPlay(item) {
    if (item.id == musicListStore.id) {
        item.isPlay = !item.isPlay
    }
    if (musicListStore.id != item.id) {
        musicListStore.id = item.id
        if (musicListStore.player != null) {
            musicListStore.player.pause()
        }
        musicListStore.player = null
    }
    musicListStore.musicName = item.name
    musicListStore.musicAuthor = item.ar[0].name
    musicListStore.musicImg = item.al.picUrl
    musicListStore.toPaly()
}
watch(
    () => musicListStore.id,
    () => {
        loveList.value.forEach((item) => {
            if (item.id == musicListStore.id) {
                item.isPlay = true
            } else {
                item.isPlay = false
            }
        })
        listenList.value.forEach((item) => {
            if (item.id == musicListStore.id) {
                item.isPlay = !item.isPlay
                // debugger
            } else {
                item.isPlay = false
            }
        })
    }
)
// 大家都在听  播放全部
function listenAroud() {
    musicListStore.musicList.dailySongs = newlistenList.value
    utilsFn()
}
// 红心  播放全部
function listenAroudLove() {
    musicListStore.musicList.dailySongs = newLoveList.value
    utilsFn()
}
watch(
    () => musicListStore.playerFlag,
    (newVal) => {
        console.log(newVal)
        if (newVal) {
            loveList.value.forEach((item) => {
                item.isPlay = false
            })
            listenList.value.forEach((item) => {
                item.isPlay = false
            })
        } else {
            loveList.value.forEach((item) => {
                if (item.id == musicListStore.id) {
                    item.isPlay = true
                } else {
                    item.isPlay = false
                }
            })
            listenList.value.forEach((item) => {
                if (item.id == musicListStore.id) {
                    item.isPlay = true
                } else {
                    item.isPlay = false
                }
            })
        }
    }
)
</script>
<style lang="scss" scoped>
@import url(../../style/bgPlay.css);
.recommend-box {
    padding-left: 40px;
    //overflow: auto;
    color: #000;
    padding-right: 24px;
    .recommend {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .recommend-title__same {
        font-size: 20px;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 14px;
    }
    .recommend-content {
        position: relative;
        height: 305px;
        display: flex;
        justify-content: space-between;
        .bg {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
        }
        .you-like {
            width: 27vw;
            height: 305px;
            position: relative;
            .you-like__img {
                position: relative;
                width: 27vw;
                height: 250px;
                display: block;
                border-radius: 6px;
            }
        }
        .day30 {
            width: 13vw;
            height: 305px;
            position: relative;
            // margin: 0 1vw;
        }
        .new-music {
            width: 13vw;
            height: 305px;
            position: relative;
        }
        .million-collections {
            width: 13vw;
            height: 305px;
            position: relative;
            // margin: 0 1vw;
        }
        .dolby-zone {
            width: 13vw;
            height: 305px;
            position: relative;
        }
        .same__img {
            position: relative;
            width: 13vw;
            height: 250px;
            display: block;
            border-radius: 6px;
        }
        .content-name {
            width: 100%;
            height: 32px;
            // background-color: red;
            position: absolute;
            bottom: 0px;
            left: 0;
            justify-content: flex-start;
            // align-items: center;
            display: flex;
        }
    }
    .song-list {
        height: 610px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        margin-bottom: 15px;
        .content-name {
            width: 100%;
            height: 32px;
            position: absolute;
            bottom: 0px;
            left: 0;
            justify-content: flex-start;
            display: flex;
        }
        .song-list-item {
            width: 13vw;
            position: relative;
            height: 305px;
            margin-bottom: 15px;
            .same__img {
                position: relative;
                width: 13vw;
                height: 250px;
                display: block;
                border-radius: 6px;
            }
        }
        .song-list-item:nth-of-type(6n) {
            margin-right: 0px;
        }
    }
    .listen {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 0;
        .listen__h {
            font-size: 20px;
            font-weight: 700;
        }
        .listen__aroud {
            width: 100px;
            height: 26px;
            font-size: 14px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            margin-left: 20px;
            cursor: pointer;
        }
    }
    .listen-content,
    .listen-content2 {
        width: 100%;
        height: 305px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        // align-items: center;
        position: relative;
        .listen-content-l {
            width: 49%;
            height: 90px;
            display: flex;
            align-items: center;
            .listen-content-item {
                width: 100%;
                height: 90px;
                display: flex;
                align-items: center;
                padding: 0 10px;
                .listen-item__img {
                    width: 65px;
                    height: 65px;
                    display: block;
                }
                .author-name {
                    width: 70%;
                    height: 65px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    margin-left: 25px;
                }
            }
            .listen-content-r {
                display: flex;
                padding-right: 20px;
                opacity: 0;
                .listen-content-r__icon {
                    font-size: 16px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px;
                }
            }
        }
        .listen-content-l:nth-of-type(n) {
            margin: 0 0.5% 0 0;
        }
        .listen-content-l:hover {
            background-color: rgb(0, 0, 0, 0.2);
        }
        .listen-content-l:hover .listen-content-r {
            // display: flex;
            opacity: 1;
        }
        .jiantou__left {
            position: absolute;
            left: -35px;
            top: 40%;
            height: 60px;
            width: 22px;
            font-size: 22px;
            background-color: rgb(0, 0, 0, 0.2);
            display: flex;
            color: #ccc;
            justify-content: center;
            align-items: center;
            opacity: 0;
        }
        .jiantou__right {
            position: absolute;
            right: -18px;
            top: 40%;
            height: 60px;
            width: 22px;
            font-size: 22px;
            background-color: rgb(0, 0, 0, 0.2);
            display: flex;
            color: #ccc;
            justify-content: center;
            align-items: center;
            opacity: 0;
        }
    }

    .listen-content:hover .jiantou__left {
        opacity: 1;
    }
    .listen-content2:hover .jiantou__left {
        opacity: 1;
    }
    .listen-content:hover .jiantou__right {
        opacity: 1;
    }
    .listen-content2:hover .jiantou__right {
        opacity: 1;
    }
    .singing-list {
        height: 305px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        .content-name {
            width: 100%;
            height: 32px;
            position: absolute;
            bottom: 0px;
            left: 0;
            justify-content: flex-start;
            display: flex;
        }
        .singing-list-item {
            width: 13vw;
            position: relative;
            .same__img {
                position: relative;
                width: 13vw;
                height: 250px;
                display: block;
                border-radius: 6px;
            }
        }
        .singing-list-item:nth-of-type(6) {
            margin-right: 0px;
        }
    }
}
</style>
