<template>
    <div class="mv-box">
        <div class="mv-box-video">
            <video controls muted loop autoplay style="width: 100%; height: 546px">
                <source :src="videoStore.url" type="video/mp4" />
            </video>
        </div>

        <div class="container-box">
            <div class="container-box__artistName">{{ mvList.artistName }}</div>
            <div class="container-box-content">
                <div class="content__name">演唱：{{ mvList.name }}</div>
                <div class="content__num">{{ mvList.playCount }}次观看</div>
                <div class="content__time">发布时间：{{ mvList.publishTime }}</div>
                <div class="content__introduction">简介：嘻嘻嘻嘻嘻嘻嘻嘻嘻</div>
            </div>
        </div>
        <div class="video-btn">
            <div class="listen__aroud">收藏</div>
            <div class="listen__aroud">下载</div>
            <div class="listen__aroud">分享</div>
            <div class="listen__aroud">评论</div>
        </div>
    </div>
</template>
<script setup>
import { useVideoStore } from '../../stores/video'
const videoStore = useVideoStore()
const axios = inject('$axios')
import { ElMessage } from 'element-plus'

let mvList = ref({})
onMounted(() => {
    axios
        .get(`/mv/detail?mvid=${videoStore.mvid}`)
        .then((res) => {
            console.log(res, 'mv数据')
            mvList.value = res.data
        })
        .catch((err) => {
            ElMessage.error(err)
        })
})
</script>
<style lang="scss" scoped>
.mv-box {
    padding: 0 24px 0 40px;
    .mv-box-video {
        width: 100%;
        height: 546px;
        background-color: #000;
    }
    .container-box {
        font-size: 16px;
        color: #000;
        padding-left: 40px;
        margin-top: 15px;
        .container-box__artistName {
            color: #000;
            font-size: 16px;
        }
        .container-box-content {
            display: flex;
            font-size: 14px;
            color: rgb(0, 0, 0, 0.3);
            margin-top: 8px;
            .content__name {
                // margin: 0 15px;
            }
            .content__num {
                margin: 0 15px;
            }
        }
    }
    .video-btn {
        display: flex;
        padding-left: 20px;
        .listen__aroud {
            width: 100px;
            height: 32px;
            font-size: 14px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            cursor: pointer;
            margin: 10px 15px;
            color: #000;
        }
    }
}
</style>
