<template>
    <div class="ranking-box">
        <div class="ranking-box-top">
            <div class="ranking-item" v-for="item in rankingList">
                <div class="ranking-item-img"></div>
                <div class="ranking-item-right">
                    <div class="item__title">{{ item.name }}</div>
                    <div class="item__music">1</div>
                    <div class="item__music">2</div>
                    <div class="item__music">3</div>
                </div>
            </div>
        </div>
        <div class="ranking__title">地区榜</div>
        <div class="area-list">
            <div v-for="item in areaList">
                <div class="area-list-item mask-box">
                    <div class="mask">
                        <div class="mask__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-bofang1"></use>
                            </svg>
                        </div>
                    </div>
                    <div>
                        {{ item.title }}
                    </div>
                </div>
            </div>
        </div>
        <div class="ranking__title">特色榜</div>
        <div class="area-list">
            <div v-for="item in characteristicList" class="area-list-item mask-box">
                <div class="mask">
                    <div class="mask__icon">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-bofang1"></use>
                        </svg>
                    </div>
                </div>
                <div>
                    {{ item.title }}
                </div>
            </div>
        </div>
        <div class="ranking__title">全球榜</div>
        <div class="area-list">
            <div v-for="item in globalList" class="area-list-item mask-box">
                <div class="mask">
                    <div class="mask__icon">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-bofang1"></use>
                        </svg>
                    </div>
                </div>
                <div>
                    {{ item.title }}
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
let rankingList = ref([
    {
        name: '飙升榜',
        img: ''
    },
    {
        name: '热歌榜',
        img: ''
    },
    {
        name: '新歌榜',
        img: ''
    },
    {
        name: '流行指数榜',
        img: ''
    },
    {
        name: '腾讯音乐原创榜',
        img: ''
    },
    {
        name: '听歌识曲榜',
        img: ''
    },
    {
        name: 'MV榜',
        img: ''
    }
])
let areaList = ref([
    {
        title: '内地榜'
    },
    {
        title: '香港地区榜'
    },
    {
        title: '台湾地区榜'
    },
    {
        title: '欧美榜'
    },
    {
        title: '韩国榜'
    },
    {
        title: '日本榜'
    },
    {
        title: '本地热歌榜'
    },
    {
        title: '香港劲歌榜'
    },
    {
        title: '台湾KKBOX榜'
    }
])
let characteristicList = ref([
    {
        title: '说唱榜'
    },
    {
        title: '电音榜'
    },
    {
        title: '游戏音乐榜'
    },
    {
        title: '动漫音乐榜'
    },
    {
        title: '影视金曲榜'
    },
    {
        title: '综艺新歌榜'
    },
    {
        title: '国风热歌榜'
    },
    {
        title: '全民K歌'
    },
    {
        title: '抖快榜'
    },
    {
        title: 'DJ舞曲榜'
    },
    {
        title: '网络歌曲榜'
    }
])
let globalList = ref([
    {
        title: '美国公告榜'
    },
    {
        title: '韩国Melon榜'
    },
    {
        title: '英国UK榜'
    },
    {
        title: '日本公信榜'
    },
    {
        title: '音乐排行榜'
    }
])
onMounted(() => {})
</script>
<style lang="scss" scoped>
@import url(../../../style/bgPlay.css);

.ranking-box-top {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-row-gap: 15px;
    grid-column-gap: 30px;

    .ranking-item {
        height: 165px;
        width: 26vw;
        display: flex;
        background-color: rgba(0, 0, 0, 0.1);
        .ranking-item-img {
            height: 165px;
            width: 8vw;
            background-color: rgb(0, 174, 255);
            border-radius: 6px;
        }
        .ranking-item-right {
            width: 16.6vw;
            height: 165px;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: flex-start;
            padding-left: 20px;
            .item__title {
                font-size: 24px;
                font-weight: 500;
                color: black;
                margin: 15px 0px;
            }
            .item__music {
                font-size: 18px;
                color: rgba(0, 0, 0, 0.5);
                margin: 5px 0px;
            }
        }
    }
}
.ranking__title {
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0px 14px 0px;
}
.area-list {
    display: grid;
    min-height: 225px;
    grid-template-columns: repeat(7, 10.4vw);
    grid-row-gap: 15px;
    grid-column-gap: 30px;
    .area-list-item {
        height: 188px;
        // width: 11.4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
        border: 1px solid #000;
        position: relative;
        width: 10.5vw;
        border-radius: 6px;
    }
}
</style>
