<template>
    <div class="recentlyPlay-box">
        <div class="recentlyPlay-title" v-if="tableData != 0">
            <div>最近播放</div>
            <div class="recentlyPlay__total">共 {{ tableDataLength }} 首</div>
        </div>
        <div class="listen__aroud" @click="listenAroud" v-if="tableData != 0">播放全部</div>
        <Suspense>
            <!-- 具有深层异步依赖的组件 -->
            <musicList :music-list="tableData" @cancelLike="cancelLike" height="575" />

            <!-- 在 #fallback 插槽中显示 “正在加载中” -->
            <template #fallback> Loading... </template>
        </Suspense>
    </div>
</template>
<script setup>
import { showLoading, hideLoading } from '../../plugins/index' //自封装loading加载效果引入
const axios = inject('$axios')
import { useLoginStore } from '../../stores/Login'
const loginStore = useLoginStore()
import { useMusicListStore } from '../../stores/player.js'
const musicListStore = useMusicListStore()
const musicList = defineAsyncComponent(() => import('../../components/musicList/index.vue'))

let tableData = ref([])
onMounted(() => {
    getRecentlyPlay()
})
// 获取最近播放
async function getRecentlyPlay() {
    showLoading()
    await axios
        .get(`/user/record?uid=${loginStore.profile.userId}`)
        .then((res) => {
            tableData.value = res.allData
            tableData.value.forEach((item) => {
                item.song['isPlay'] = false
                item = Object.assign(item, item.song)
            })
            // musicListStore.musicList.dailySongs = tableData.value
            hideLoading()
        })
        .catch((err) => {
            hideLoading()
        })
}
let tableDataLength = computed(() => {
    return tableData.value.length
    // return 0
})
function listenAroud() {
    musicListStore.musicList.dailySongs = tableData.value
    musicListStore.count = 0
    musicListStore.init()
    if (musicListStore.player) {
        musicListStore.player.pause()
    }
    musicListStore.player = null
    musicListStore.toPaly()
}

function cancelLike() {
    getRecentlyPlay()
}
</script>
<style lang="scss" scoped>
.recentlyPlay-box {
    padding-left: 40px;
    padding-right: 24px;
    .listen__aroud {
        width: 100px;
        height: 26px;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        cursor: pointer;
        margin: 20px 0px;
        color: #000;
    }
    // overflow: auto;
    .table_h {
        height: 100%;
    }
    .recentlyPlay-title {
        display: flex;
        font-size: 24px;
        font-weight: 700;
        color: #000;
        margin-bottom: 15px;
        .recentlyPlay__total {
            margin-left: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
        }
    }
    .music_name {
        width: 75%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .music-list-item-right {
        display: flex;
        width: 25%;
        align-items: center;
        // display: none;
        opacity: 0;
        .list_item_right__icon {
            font-size: 18px;
            margin: 0 10px;
        }
    }
    :deep(tr.hover-row) {
        &,
        &.el-table__row--striped {
            &,
            &.current-row {
                > td > .cell > .music-list-item > .music-list-item-right {
                    // background-color: red;
                    opacity: 1;
                }
            }
        }
    }

    :deep(.el-table:not(.el-table--border) .el-table__cell) {
        border: none !important;
    }
    :deep(.el-table__inner-wrapper::before) {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        z-index: 3;
    }
}
:deep(.el-empty__description p) {
    color: #000 !important;
}
</style>
