<template>
    <div class="love-box">
        <div class="love__name">我喜欢</div>
        <div>
            <el-tabs v-model="activeName" class="demo-tabs" @tab-click="handleClick">
                <el-tab-pane label="我喜欢" name="first">
                    <div class="listen__aroud" @click="listenAroud">播放全部</div>
                    <Suspense>
                        <!-- 具有深层异步依赖的组件 -->
                        <musicList :music-list="tableData" @cancelLike="cancelLike" height="500" />

                        <!-- 在 #fallback 插槽中显示 “正在加载中” -->
                        <template #fallback> Loading... </template>
                    </Suspense>
                </el-tab-pane>
                <el-tab-pane label="创建的歌单" name="second">222</el-tab-pane>
                <el-tab-pane label="上传的视频" name="third">333</el-tab-pane>
            </el-tabs>
        </div>
    </div>
</template>
<script setup>
const axios = inject('$axios')
import { useLoginStore } from '../../stores/Login'
const loginStore = useLoginStore()
import { useMusicListStore } from '../../stores/player.js'
const musicListStore = useMusicListStore()
import { showLoading, hideLoading } from '../../plugins/index' //自封装loading加载效果引入
import { ElMessage } from 'element-plus'

const musicList = defineAsyncComponent(() => import('../../components/musicList/index.vue'))
const activeName = ref('first')

const handleClick = (tab, event) => {
    console.log(tab, event)
}
let tableData = ref([])
onMounted(() => {
    getLikeList()
})
function getLikeList() {
    showLoading()
    axios
        .get(`/likelist?uid=${loginStore.profile.userId}`)
        .then(async (res) => {
            console.log(res)
            let ids = res.ids
            await axios
                .get(`/song/detail?ids=${ids}`)
                .then((res) => {
                    tableData.value = res.songs
                    tableData.value.forEach((item) => {
                        ;(item['isPlay'] = false), (item['like'] = true)
                    })
                    tableData.value.forEach((v) => {
                        if (musicListStore.id == v.id) {
                            v.isPlay = true
                        } else {
                            v.isPlay = false
                        }
                    })
                    hideLoading()
                })
                .catch((err) => {
                    ElMessage.error(err)
                    hideLoading()
                })
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
function listenAroud() {
    musicListStore.musicList.dailySongs = tableData.value
    musicListStore.count = 0
    musicListStore.init()
    if (musicListStore.player) {
        musicListStore.player.pause()
    }
    musicListStore.player = null
    musicListStore.toPaly()
}
function cancelLike() {
    getLikeList()
}
</script>
<style lang="scss" scoped>
.love-box {
    padding-left: 40px;
    // overflow: auto;
    color: #000;
    padding-right: 24px;
    .love__name {
        font-size: 24px;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .listen__aroud {
        width: 100px;
        height: 26px;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        cursor: pointer;
        margin: 20px 0px;
    }
    .love_top {
        // font-size: 24px;
        height: 200px;
        font-weight: 700;
        margin-bottom: 15px;
        display: flex;
        .love_top_img {
            width: 210px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .love_top_avatarUrl {
                width: 189px;
                height: 189px;
                display: block;
                border-radius: 90px;
            }
        }
        .love_top_contnt {
            width: calc(100% - 270px);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            margin-left: 30px;
            .userName_content {
                display: flex;
                align-items: center;
                .userName_name {
                    font-size: 26px;
                }
                .userName_level {
                    font-size: 14px;
                    margin-left: 30px;
                }
            }

            .interest_contnt {
                span:nth-of-type(1) {
                    margin-left: 0px;
                }
                span {
                    font-size: 14px;
                    margin: 0 10px;
                }
                span:nth-of-type(2n) {
                    margin: 0px;
                }
            }
        }
    }

    .music-list-item {
        justify-content: space-between;
    }
    .music-list-item-right {
        display: flex;
        width: 25%;
        align-items: center;
        // display: none;
        opacity: 0;
        .list_item_right__icon {
            font-size: 18px;
            margin: 0 10px;
        }
    }
    :deep(tr.hover-row) {
        &,
        &.el-table__row--striped {
            &,
            &.current-row {
                > td > .cell > .music-list-item > .music-list-item-right {
                    // background-color: red;
                    opacity: 1;
                }
            }
        }
    }

    :deep(.el-table:not(.el-table--border) .el-table__cell) {
        border: none !important;
    }
    :deep(.el-table__inner-wrapper::before) {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        z-index: 3;
    }
}
:deep(.el-tabs__nav-wrap::after) {
    background-color: transparent !important;
}
</style>
