<script setup>
import { RouterView } from 'vue-router'
// import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
    <RouterView />
</template>

<style scoped>
@media (min-width: 1024px) {
}
</style>
