<template>
    <div class="login">
        <div v-if="otherwiseFlag">
            <div class="login__title">扫码登录</div>
            <div ref="qrcode" class="qrcode">
                <img :src="dataUrl" alt="" class="qrcode__img" />
                <!-- <img id="qrImg" />
      <div id="info" class="info"></div> -->
            </div>
            <div class="otherwise" @click="toOtherwise">选择其他方式登录 ></div>
        </div>
        <!-- 其他方式登录 -->
        <div v-if="!otherwiseFlag">
            <div class="phone__top" @click="otherwiseFlag = true">扫码登录更安全</div>
            <div class="music__icon">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-QQyinle"></use>
                </svg>
            </div>
            <div class="centent">
                <div class="input">
                    <el-input v-model="phone" placeholder="请输入手机号">
                        <template #prepend>
                            <div>
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-shouji"></use>
                                </svg>
                            </div>
                            + 86</template
                        >
                    </el-input>
                    <el-input v-model="password" placeholder="请输入密码" v-if="!codeFlag">
                        <template #prepend>
                            <div>
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-mima"></use>
                                </svg></div
                        ></template>
                    </el-input>
                    <el-input v-model="code" placeholder="请输入验证码" v-if="codeFlag">
                        <template #prepend>
                            <div>
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-yanzhengma"></use>
                                </svg>
                            </div>
                            <!-- <el-button /> -->
                        </template>
                        <template #append
                            ><el-button @click="getCode">获取验证码</el-button>
                        </template>
                    </el-input>
                </div>
            </div>
            <div class="loginMethod">
                <div>
                    <el-checkbox v-model="autoLogin" label="自动登录" size="large" />
                </div>
                <div class="forgot">
                    <div class="forgot__password" @click="codeFlag = false">忘记密码</div>
                    |
                    <div class="forgot__code" @click="codeLogin">验证码登录</div>
                </div>
            </div>
            <div class="login-btn">
                <el-button type="danger" size="large" @click="submitLogin">登 录</el-button>
            </div>
            <div class="register">注 册</div>
        </div>
    </div>
</template>

<script setup>
const axios = inject('$axios')
import { showLoading, hideLoading } from '../../plugins/index' //自封装loading加载效果引入
import QRCode from 'qrcode'

import { ElMessage } from 'element-plus'
import { useLoginStore } from '../../stores/Login'
const loginStore = useLoginStore()
// timestamp=1503019930000  时间戳Date.now()
// 请求的时间戳
// let timestamp = Date.now()
// 二维码 key
let unikey = ref('')
let create = ref('')
let dataUrl = ref('')
const qrcode = ref(null)
let timer = ref(null)
onMounted(() => {
    init()
})
// 获取用户详情
async function userDetail() {
    await axios
        .get(`/user/detail?uid=${loginStore.userLevel.userId}`)
        .then((res) => {
            console.log('userDetail', res)
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
// 获取账号信息
async function userAccount() {
    await axios
        .get(`/user/account`)
        .then((res) => {
            console.log('userAccount', res)
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
// 获取用户信息 , 歌单，收藏，mv, dj 数量
async function userSubcount() {
    await axios
        .get(`/user/subcount`)
        .then((res) => {
            loginStore.userSubcount = res
            console.log('userSubcount', res)
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
// 等级
async function userLevel() {
    await axios
        .get(`/user/level`)
        .then((res) => {
            loginStore.userLevel = res.data
            console.log('/user/level', res)
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
// 获取登录状态
async function getState() {
    await axios
        .get(`/login/status`)
        .then((result) => {
            if (result.data.code == 200) {
                console.log(result, '/login/status')
                loginStore.userName = result.data.profile.nickname
                loginStore.avatarUrl = result.data.profile.avatarUrl
                loginStore.profile = result.data.profile
                loginStore.account = result.data.account
                clearInterval(timer.value)
                loginStore.isLogin = false
            }
        })
        .catch((err) => {
            ElMessage({
                message: err,
                type: 'error'
            })
        })
}
// 刷新登录状态
async function loginRefresh() {
    await axios
        .get(`/login/refresh`)
        .then((res) => {
            if (res.code == 200) {
                loginStore.cookie = res.cookie
                document.cookie = res.cookie
                localStorage.setItem('USER-COOKIE', res.cookie)
                ElMessage({
                    message: '登录成功！',
                    type: 'success'
                })
            }
            console.log(res, '/login/refresh')
        })
        .catch((err) => {
            ElMessage({
                message: '我报错了，我是刷新的登录的接口',
                type: 'error'
            })
        })
}
async function init() {
    // showLoading()
    unikey.value = await axios.get(`/login/qr/key?timestamp=${Date.now()}`)
    let params = {
        key: unikey.value.data.unikey,
        timestamp: Date.now(),
        qrimg: true
    }
    create.value = await axios.get('/login/qr/create', { params })
    dataUrl.value = create.value.data.qrimg
    // hideLoading()
    // QRCode.toDataURL(create.value.qrurl)
    //   .then((url) => {
    //     dataUrl.value = url
    //     hideLoading()
    //   })
    //   .catch((err) => {
    //     // console.error(err)
    //   })
    timer.value = setInterval(async () => {
        await axios
            .get(`/login/qr/check?key=${unikey.value.data.unikey}&timestamp=${Date.now()}`)
            .then(async (result) => {
                if (result.code == 803) {
                    console.log(result, '扫码结果')
                    ElMessage({
                        message: '授权扫码成功！',
                        type: 'success'
                    })
                    await getState()
                    await loginRefresh()
                    await userLevel()
                    await userDetail()
                    await userAccount()
                    await userSubcount()
                }
            })
            .catch((err) => {
                ElMessage.error(err)
            })
    }, 10000)
}

// 其他方式登录
let otherwiseFlag = ref(true)
let phone = ref('')
let password = ref('')
let autoLogin = ref(false)
let codeFlag = ref(false)
async function submitLogin() {
    if (password.value != '') {
        axios
            .get(`/login/cellphone?phone=${phone.value}&password=${password.value}`)
            .then((result) => {
                console.log(result)
                if (result.code == 502) {
                    ElMessage.error(result.message)
                }
            })
            .catch((err) => {
                ElMessage.error(err)
            })
    }
    if (code.value != '') {
        axios
            .get(`/captcha/verify?phone=${phone.value}&captcha=${code.value}`)
            .then(async (res) => {
                if (res.data) {
                    await getState()
                    await loginRefresh()
                    await userLevel()
                    await userDetail()
                    await userAccount()
                    await userSubcount()
                }
            })
            .catch((err) => {
                ElMessage.error(err)
            })
    }
}
function codeLogin() {
    codeFlag.value = true
    password.value = ''
}
// 获取验证码
let code = ref('')
async function getCode() {
    await axios
        .get(`/captcha/sent?phone=${phone.value}`)
        .then((result) => {
            if (result.data == true) {
                ElMessage({
                    message: '验证码发送成功',
                    type: 'success'
                })
            } else {
                ElMessage.error(result.message)
            }
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
// 其他方式登录
function toOtherwise() {
    otherwiseFlag.value = false
    clearInterval(timer.value)
}
onBeforeUnmount(() => {
    clearInterval(timer.value)
})
</script>
<style lang="scss" scoped>
.login {
    width: 393px;
    height: 596px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    background-color: #fff;
    transform: translate(-50%, -50%);
    .login__title {
        width: 100%;
        height: 150px;
        font-size: 24px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .qrcode {
        width: 100%;
        height: 360px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .qrcode__img {
        width: 300px;
        height: 300px;
        display: block;
    }
    .otherwise {
        width: 100%;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
    }
    .phone__top {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }
    .music__icon {
        margin-top: 10px;
        font-size: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
    .centent {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .input {
            width: 70% !important;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .loginMethod {
        width: 100%;
        padding: 0 15%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        .forgot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .forgot__password {
                color: blue;
                font-size: 14px;
                margin-right: 10px;
            }
            .forgot__code {
                color: blue;
                font-size: 14px;
                margin-left: 10px;
            }
        }
    }
    .login-btn {
        width: 100%;
        // padding: 0 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .register {
        margin-top: 30px;
        width: 100%;
        font-size: 14px;
        // padding: 0 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
:deep(.el-input-group__prepend) {
    padding: 0px !important;
    width: 60px;
}
:deep(.el-input-group) {
    height: 45px;
}

// .background{
//     // background-color: rgb(0, 0, 0,0.8);
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     opacity: .4;
// }
</style>
