<template>
    <div class="music-container">
        <div @click="toLyric">
            <img :src="musicListStore.musicImg" alt="" class="music__img" />
        </div>
        <div class="music-content">
            <div
                class="music__name"
                :title="`${musicListStore.musicName} - ${musicListStore.musicAuthor}`"
            >
                {{ musicListStore.musicName }} - {{ musicListStore.musicAuthor }}
            </div>
            <div class="music-icon">
                <div class="music-icon__item" @click="like">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shoucang"></use>
                    </svg>
                </div>
                <div class="music-icon__item" title="下载">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xiazai1"></use>
                    </svg>
                </div>
                <div class="music-icon__item" title="评论" style="position: relative">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-liuyan"></use>
                    </svg>
                    <div style="position: absolute; top: -2px; right: -10px; font-size: 10px">
                        999+
                    </div>
                </div>
                <div class="music-icon__item" title="更多">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pinglun"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
import { useMusicListStore } from '../../stores/player'
const musicListStore = useMusicListStore()
const axios = inject('$axios')
import { ElMessage, ElNotification } from 'element-plus'

import { useRouter } from 'vue-router'
const router = useRouter()

function toLyric() {
    router.push({
        name: `lyric`
    })
}
function like() {
    axios
        .get(`/like?id=${musicListStore.id}`)
        .then(async (res) => {
            if (res.code == 200) {
                ElNotification({
                    title: 'Success',
                    message: '已收藏',
                    type: 'success'
                })
            } else {
                ElNotification({
                    title: 'Error',
                    message: '收藏失败！',
                    type: 'error'
                })
            }
        })
        .catch((err) => {
            ElMessage.error(err)
        })
}
</script>
<style lang="scss" scoped>
.music-container {
    display: flex;
    align-items: center;
    height: 100%;
    .music__img {
        width: 45px;
        height: 45px;
        display: block;
        margin-left: 20px;
        margin-right: 10px;
    }
    .music-content {
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .music__name {
            font-size: 16px;
            color: black;
            height: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 400;
        }
        .music-icon {
            display: flex;
            font-size: 16px;
            font-weight: 400;
            .music-icon__item {
                margin: 0 10px;
                font-size: 22px;
            }
        }
    }
}
</style>
