<template>
    <div class="music-container">
        <div class="music__time">{{ currentTime }} / {{ duration }}</div>
        <div
            class="music__ci"
            @click="showLyric"
            :class="[musicListStore.showLyricFlag ? 'activeClass' : '']"
        >
            词
        </div>
        <div class="music__list" @click="drawerFn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-yinleliebiao"></use>
            </svg>
        </div>
        <el-drawer
            v-model="drawerFlag"
            title="I am the title"
            :with-header="false"
            :lockScroll="false"
            class="webkit-scrollbar"
        >
            <h2>播放队列</h2>
            <div class="music-drawer">
                <div class="music__total">共{{ drawerListLength }}首歌曲</div>
                <div class="music-operate">
                    <div class="music-operate__icon">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-shouqi"></use>
                        </svg>
                    </div>
                    <div class="music-operate__icon">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-shanchu"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="music-drawer-list">
                <div v-for="item in drawerList" :key="item.id" class="music-list-item">
                    <div class="music-list-item-left">
                        <div class="music-list__name">
                            {{ item.name }}
                            <span class="zhengzaizhibo" v-if="item.isPlay">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-a-zhengzaizhibozhengzaibofang"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="music-list__author">{{ item.ar[0].name }}</div>
                    </div>
                    <div class="music-list-item-right">
                        <div
                            class="list-item-right__icon"
                            @click="toPlay(item)"
                            v-if="!item.isPlay"
                        >
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-24gl-play"></use>
                            </svg>
                        </div>
                        <div class="list-item-right__icon" @click="toPlay(item)" v-else>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-24gl-pause"></use>
                            </svg>
                        </div>
                        <div class="list-item-right__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-shoucang1"></use>
                            </svg>
                        </div>
                        <div class="list-item-right__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-charulianjie"></use>
                            </svg>
                        </div>
                        <div class="list-item-right__icon">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-pinglun"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </el-drawer>
        <div class="lyric-contnet" v-if="musicListStore.showLyricFlag">
            {{ musicListStore.lyricList[musicListStore.lyricListIndex]?.word }}
        </div>
    </div>
</template>
<script setup>
import { useMusicListStore } from '../../stores/player.js'
const musicListStore = useMusicListStore()
import { ElMessage } from 'element-plus'
const axios = inject('$axios')

let currentTime = computed(() => {
    let interval = Math.floor(musicListStore.currentTime)
    let minute = Math.floor(interval / 60)
        .toString()
        .padStart(2, '0')
    let second = (interval % 60).toString().padStart(2, '0')
    return `${minute}:${second}`
})
let duration = computed(() => {
    let minute = Math.floor(musicListStore.duration / 60)
    let miao = (musicListStore.duration % 60).toFixed(0)
    if (miao < 10) {
        miao = '0' + miao
    }
    return `${minute}:${miao}`
})
// let currentTime = ref('')
// watch(
//   () => musicListStore.currentTime,
//   () => {
//     let interval = Math.floor(musicListStore.currentTime)
//     let minute = Math.floor(interval / 60)
//       .toString()
//       .padStart(2, '0')
//     let second = (interval % 60).toString().padStart(2, '0')
//     currentTime.value = `${minute}:${second}`
//   }
// )
// let duration = ref('')
// watch(
//   () => musicListStore.duration,
//   () => {
//     let minute = Math.floor(musicListStore.duration / 60)
//     let miao = (musicListStore.duration % 60).toFixed(0)
//     if (miao < 10) {
//       miao = '0' + miao
//     }
//     duration.value = `${minute}:${miao}`
//   }
// )
// 打开右侧歌单
const drawerFlag = ref(false)
const drawerList = ref([])
function drawerFn() {
    drawerFlag.value = true
    drawerList.value = musicListStore.musicList.dailySongs
    drawerList.value?.forEach((v) => {
        if (musicListStore.id == v.id) {
            v.isPlay = true
        } else {
            v.isPlay = false
        }
    })
}
const drawerListLength = computed(() => {
    return musicListStore.musicList.dailySongs.length
})
// 播放右侧歌单歌曲
function toPlay(item) {
    if (musicListStore.id != item.id) {
        musicListStore.id = item.id
        if (musicListStore.player != null) {
            musicListStore.player.pause()
        }
        musicListStore.player = null
    }
    drawerList.value.forEach((v) => {
        if (item.id == v.id) {
            v.isPlay = !v.isPlay
        } else {
            v.isPlay = false
        }
    })
    musicListStore.toPaly()
}
function showLyric() {
    // getLyric()
    musicListStore.showLyricFlag = !musicListStore.showLyricFlag
}

let lyricList = ref([])
let result = ref([])
function getLyric() {
    axios
        .get(`/lyric?id=${musicListStore.id}`)
        .then((res) => {
            result.value = res?.lrc?.lyric?.split('\n')
            if (result.value) {
                for (let i = 0; i < result.value.length; i++) {
                    let lrcData = result.value[i].split(']')
                    let lrcTime = lrcData[0].substring(1)
                    let obj = {
                        time: parseTime(lrcTime),
                        word: lrcData[1]
                    }
                    lyricList.value.push(obj)
                }
                musicListStore.lyricList = lyricList.value
            }
        })
        .catch((err) => {
            ElMessage({
                message: err,
                type: 'error'
            })
        })
}
// 将tiem转换为秒的形式
function parseTime(lrcTime) {
    let lrcTimeArr = lrcTime.split(':')
    return Number(lrcTimeArr[0] * 60) + Number(lrcTimeArr[1])
}
function monitorAudio() {
    let currentAudioTime = musicListStore.currentTime
    const index =
        lyricList.value.findIndex((item) => {
            return item.time > currentAudioTime
        }) - 1
    musicListStore.lyricListIndex = index < 0 ? index + 1 : index
}
watch(
    () => musicListStore.currentTime,
    () => {
        monitorAudio()
    }
)
watch(
    () => musicListStore.id,
    (newVal) => {
        lyricList.value = []
        getLyric()
    },
    { immediate: true }
)
</script>
<style lang="scss" scoped>
.music-container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
    box-sizing: border-box;
    .music__time {
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
    }
    .music__ci {
        font-size: 18px;
        font-weight: 400;
        margin: 0 20px;
        cursor: pointer;
    }
    .music__list {
        font-size: 18px;
        font-weight: 400;
    }
}
:deep(.el-drawer) {
    width: 300px !important;
    background-color: #80e3e5;
}
:deep(.el-drawer__body::-webkit-scrollbar) {
    width: 8px;
}
:deep(.el-drawer__body::-webkit-scrollbar-thumb) {
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #67c23a;
}
.music-drawer {
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
    .music__total {
        font-size: 16px;
    }
    .music-operate {
        display: flex;
        .music-operate__icon {
            font-size: 20px;
            margin: 0 10px;
        }
    }
}
.music-drawer-list {
    // display: flex;

    .music-list-item {
        display: flex;
        height: 45px;
        margin: 10px 0;
        // justify-content: space-between;
        align-items: center;
        justify-content: space-between;
        .music-list-item-left {
            .music-list__name {
                font-size: 14px;
            }
            .music-list__author {
                font-size: 14px;
                margin-top: 5px;
            }
            .zhengzaizhibo {
                font-size: 18px;
                margin-left: 5px;
            }
        }
        .music-list-item-right {
            // width: 60px;
            display: flex;
            display: none;
            .list-item-right__icon {
                font-size: 16px;
                margin: 0 5px;
            }
        }
    }
    .music-list-item:hover .music-list-item-right {
        display: flex;
    }
}
.lyric-contnet {
    position: fixed;
    right: 20%;
    bottom: 10%;
    font-size: 30px;
    // width: 200px;
    height: 60px;
    color: yellow;
}
.activeClass {
    color: red;
}
</style>
