<template>
    <div class="music-contianer">
        <div style="position: relative">
            <div class="music-contianer__item" @click="openPlayOrder">
                <svg class="icon" aria-hidden="true">
                    <use :xlink:href="playOrderIcon"></use>
                </svg>
            </div>
            <div class="m-2" v-if="optFlag">
                <div
                    v-for="(item, index) in options"
                    :key="item"
                    class="select-opt"
                    @click="playOrder(item, index)"
                >
                    <div>
                        <div class="select-opt__item">
                            <svg class="icon" aria-hidden="true">
                                <use :xlink:href="item.icon"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="select-opt__name">
                        {{ item.value }}
                    </div>
                </div>
            </div>
        </div>

        <div class="music-contianer__item" @click="previous">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-shangyiqu1"></use>
            </svg>
        </div>
        <div class="music-contianer__item" @click="playMusic" v-if="musicListStore.playerFlag">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-24gf-playCircle"></use>
            </svg>
        </div>
        <div class="music-contianer__item" @click="playMusic" v-else>
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-zanting"></use>
            </svg>
        </div>
        <div class="music-contianer__item" @click="next">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-xiayiqu1"></use>
            </svg>
        </div>
        <div class="music-contianer__item" @click="oVolume">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-yinliang1"></use>
            </svg>
        </div>
        <div class="slider-demo-block" v-if="volumeFlag">
            <el-slider v-model="volumeValue" vertical height="200px" />
        </div>
    </div>
</template>
<script setup>
import { useMusicListStore } from '../../stores/player'
const musicListStore = useMusicListStore()

let playOrderIcon = ref('#icon-shunxubofang')
const options = [
    {
        value: '随机播放',
        label: '随机播放',
        icon: '#icon-suijibofang'
    },
    {
        value: '顺序播放',
        label: '顺序播放',
        icon: '#icon-shunxubofang'
    },
    {
        value: '单曲循环',
        label: '单曲循环',
        icon: '#icon-hanhan-01-01'
    },
    {
        value: '列表循环',
        label: '列表循环',
        icon: '#icon-liebiaoxunhuan'
    }
]
// 播放顺序
let optFlag = ref(false)
function openPlayOrder() {
    optFlag.value = !optFlag.value
}
function playOrder(item, index) {
    playOrderIcon.value = item.icon
    musicListStore.playOrder = index
    optFlag.value = false
}
// 播放
function playMusic() {
    musicListStore.toPaly()
}
// 下一曲
function next() {
    musicListStore.next()
}
// 上一曲
function previous() {
    musicListStore.previous()
}
// 声音按钮显示
let volumeFlag = ref(false)
let volumeValue = ref(100)
function oVolume() {
    volumeFlag.value = !volumeFlag.value
}
watch(volumeValue, (newX) => {
    musicListStore.volumeValue = newX
    if (musicListStore.player) {
        musicListStore.player.volume = musicListStore.volumeValue / 100
    }
})
</script>
<style lang="scss" scoped>
.music-contianer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    .music-contianer__item {
        font-size: 24px;
        font-weight: 400;
        margin: 0 10px;
        color: #000;
    }
}
.slider-demo-block {
    display: flex;
    align-items: center;
    z-index: 999;
}
.slider-demo-block .el-slider {
    margin-top: 0;
}
.slider-demo-block {
    position: absolute;
    bottom: 66px;
    right: 27%;
    width: 40px;
    // height: 180px;
    background-color: #80e3e5;
    box-shadow:
        2px 0 0 0 rgb(0, 0, 0, 0.1),
        0 2px 0 0 rgb(0, 0, 0, 0.1),
        -2px 0 0 0 rgb(0, 0, 0, 0.1),
        0 -2px 0 0 rgb(0, 0, 0, 0.1);
}
.el-slider {
    height: 220px;
    --el-slider-button-size: 16px !important
;
}
.m-2 {
    position: absolute;
    bottom: 38px;
    left: -170%;
    width: 150px;
    height: 200px;
    background-color: #bcc7a0;
    display: flex;
    color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 8;
    background-color: #80e3e5;
    box-shadow:
        2px 0 0 0 rgb(0, 0, 0, 0.1),
        0 2px 0 0 rgb(0, 0, 0, 0.1),
        -2px 0 0 0 rgb(0, 0, 0, 0.1),
        0 -2px 0 0 rgb(0, 0, 0, 0.1);
    .select-opt {
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
        .select-opt__item {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
        }
        .select-opt__name {
            font-size: 16px;
            font-weight: 400;
        }
    }
}
.slider {
    --el-slider-button-size: 16px !important
;
}
</style>
