<template>
    <footer>
        <div class="cs-progress">
            <div class="cs-progress-block">
                <el-slider
                    v-model="percentage"
                    @change="percentageChange"
                    @input="percentageChange"
                    :format-tooltip="formatCurrent"
                    class="cs-progress-block__slider"
                />
            </div>
        </div>
        <div class="cs-player">
            <div class="cs-footer-l cs-footer-item">
                <FooterL></FooterL>
            </div>
            <div class="cs-footer-c cs-footer-item">
                <FooterC></FooterC>
            </div>
            <div class="cs-footer-r cs-footer-item">
                <FooterR></FooterR>
            </div>
        </div>
    </footer>
</template>
<script setup>
import FooterL from './footerL.vue'
import FooterC from './footerC.vue'
import FooterR from './footerR.vue'

import { useMusicListStore } from '../../stores/player'
const musicListStore = useMusicListStore()
// 进度条的值
let percentage = ref(0)
// percentage = computed(() => {
//     return (musicListStore.currentTime / musicListStore.duration) * 100
// })
watch(
    () => musicListStore.currentTime,
    () => {
        percentage.value = (musicListStore.currentTime / musicListStore.duration) * 100
    }
)
function percentageChange(val) {
    musicListStore.player.currentTime = (musicListStore.duration * val) / 100
}
function formatCurrent() {
    let interval = Math.floor(musicListStore.currentTime)
    let minute = Math.floor(interval / 60)
        .toString()
        .padStart(2, '0')
    let second = (interval % 60).toString().padStart(2, '0')
    return `${minute}:${second}`
}
</script>
<style lang="scss" scoped>
@include b('progress') {
    width: 98%;
    margin: 2px 0px;
    @include b('progress-block') {
        height: 5px !important;
        @include e('slider') {
            height: 5px !important;
            --el-slider-button-size: 16px !important
;
        }
    }
}
@include b('player') {
    height: 68px;
    width: 100%;
    // background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    @include b('footer-item') {
        width: 32%;
        height: 100%;
    }
    @include b('footer-c') {
        position: relative;
    }
}
footer {
    width: 100%;
    padding: 0 10px;
}
</style>
