<template>
    <div class="search-box">
        <div class="music-content">
            <div class="music-content-item">
                <div>
                    <img :src="searchList[0]?.al?.picUrl" alt="" class="content-item__img" />
                </div>
                <div>
                    <div>歌手：{{ searchList[0]?.ar[0]?.name }}</div>
                    <div>单曲：暂无数据</div>
                    <div>专辑：暂无数据</div>
                </div>
            </div>
            <div class="music-content-item">暂无</div>
        </div>
        <div>
            <el-tabs v-model="activeName" class="demo-tabs" @tab-click="handleClick">
                <el-tab-pane label="歌曲" name="first">
                    <div class="listen__aroud" @click="listenAroud">播放全部</div>
                    <Suspense>
                        <!-- 具有深层异步依赖的组件 -->
                        <musicList :music-list="searchList" height="492" />
                        <!-- 在 #fallback 插槽中显示 “正在加载中” -->
                        <template #fallback> Loading... </template>
                    </Suspense></el-tab-pane
                >
                <el-tab-pane label="视频" name="second">222</el-tab-pane>
                <el-tab-pane label="专辑" name="third">333</el-tab-pane>
                <el-tab-pane label="歌单" name="fourth">444</el-tab-pane>
                <el-tab-pane label="歌词" name="five">555</el-tab-pane>
                <el-tab-pane label="歌手" name="six">666</el-tab-pane>
                <el-tab-pane label="用户" name="seven">77</el-tab-pane>
            </el-tabs>
        </div>
    </div>
</template>
<script setup>
const axios = inject('$axios')
import { useSearchStore } from '../../stores/search'
const searchStore = useSearchStore()
import { useMusicListStore } from '../../stores/player.js'
const musicListStore = useMusicListStore()
import { showLoading, hideLoading } from '../../plugins/index' //自封装loading加载效果引入
// const musicList = defineAsyncComponent(() => import('./musicList.vue'))
const musicList = defineAsyncComponent(() => import('../../components/musicList/index.vue'))
import { ElMessage } from 'element-plus'

onMounted(() => {
    getName()
})
let searchList = ref([])
function getName() {
    // console.log(searchStore.searchValue,8888);
    showLoading()
    axios
        .get(`/cloudsearch?keywords=${searchStore.searchValue}&limit=100`)
        .then((res) => {
            searchList.value = res.result.songs
            console.log(searchList.value)
            searchList.value.forEach((item) => {
                item['isPlay'] = false
                if (musicListStore.id == item.id) {
                    item.isPlay = true
                } else {
                    item.isPlay = false
                }
            })
            hideLoading()
        })
        .catch((err) => {
            ElMessage({
                message: err,
                type: 'error'
            })
            hideLoading()
        })
}
watch(
    () => searchStore.searchValue,
    () => {
        getName()
    }
)
const activeName = ref('first')
const handleClick = (tab, event) => {
    console.log(tab, event)
}
function listenAroud() {
    musicListStore.musicList.dailySongs = searchList.value
    musicListStore.count = 0
    musicListStore.init()
    if (musicListStore.player) {
        musicListStore.player.pause()
    }
    musicListStore.player = null
    musicListStore.toPaly()
}
</script>
<style lang="scss" scoped>
.search-box {
    padding-left: 40px;
    // width: 100%;
    color: #000;
    padding-right: 24px;
    .music-content {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        .music-content-item {
            width: 48%;
            display: flex;
            align-items: center;
            background-color: rgba($color: #000000, $alpha: 0.3);

            .content-item__img {
                margin: 0 30px;
                width: 60px;
                height: 60px;
                display: block;
                border-radius: 50%;
            }
        }
    }
}
.listen__aroud {
    width: 100px;
    height: 26px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
    margin: 0px 0px 20px 0px;
}
:deep(.el-tabs__nav-wrap::after) {
    background-color: transparent !important;
}
</style>
