<template>
    <div>
        <div class="cs-container">
            <!-- logo -->
            <div class="cs-container-top">
                <img
                    src="https://y.qq.com/mediastyle/yqq/img/logo.png?max_age=2592000"
                    alt=""
                    class="cs-container-top__logo"
                />
            </div>
            <!-- 在线音乐 -->
            <div class="cs-onLine-music">
                <div class="cs-onLine-music__content">在线音乐</div>
                <div class="cs-music-list">
                    <div
                        v-for="(item, index) in onLineMusic"
                        :key="item.name"
                        :class="['cs-line-item', onLineMusicActive == index ? activeClass : '']"
                        @click="toNav(item, index)"
                    >
                        <div class="cs-line-item__name">
                            <svg class="icon" aria-hidden="true">
                                <use :xlink:href="item.icon"></use>
                            </svg>
                            {{ item.name }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- 我的音乐 -->
            <div class="cs-mime-music">
                <div class="cs-mime-music__content">我的音乐</div>
                <div class="cs-music-list">
                    <div
                        v-for="(item, index) in mimeMusic"
                        :key="item.name"
                        :class="['cs-line-item', mimeMusicActive == index ? activeClass : '']"
                        @click="toMineNav(item, index)"
                    >
                        <div class="cs-line-item__name">
                            <svg class="icon" aria-hidden="true">
                                <use :xlink:href="item.icon"></use>
                            </svg>
                            {{ item.name }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- 创建歌单 -->
            <div class="cs-creat-music">
                <div class="cs-creat-music__name">创建的歌单</div>
                <div class="cs-creat-music__add">+</div>
                <div class="cs-creat-music__jiantou" @click="expandMusic">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xiangxiajiantou"></use>
                    </svg>
                </div>
            </div>
            <!-- 收藏的歌单 -->
            <div class="cs-collect-music">
                <div class="cs-collect-music__name">收藏的歌单</div>
                <div class="cs-collect-music__add">+</div>
                <div class="cs-collect-music__jiantou">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xiangxiajiantou"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
import { useRouter } from 'vue-router'
const router = useRouter()
// const route = useRoute()

let onLineMusicActive = ref(0)
let mimeMusicActive = ref(7)
const activeClass = ref('active')
const onLineMusic = ref([
    {
        icon: '#icon-pinpai',
        name: '推荐',
        path: 'recommend',
        id: 0
    },
    {
        icon: '#icon-yinlemusic215',
        name: '音乐馆',
        path: 'musicHall',
        id: 1
    },
    {
        icon: '#icon-shipin',
        name: '视频',
        path: 'video',
        id: 2
    },
    {
        icon: '#icon-leida',
        name: '雷达',
        path: 'radar',
        id: 3
    }
])
const mimeMusic = ref([
    {
        icon: '#icon-woxihuan-',
        name: '我喜欢',
        path: 'myLove',
        id: 4
    },
    {
        icon: '#icon-lcd-full',
        name: '本地和下载',
        path: 'downLoad',
        id: 5
    },
    {
        icon: '#icon-zuijinbofang',
        name: '最近播放',
        path: 'recentlyPlay',
        id: 6
    },
    {
        icon: '#icon-shiting',
        name: '试听列表',
        path: 'audition',
        id: 7
    },
    {
        icon: '#icon-leida',
        name: '已购音乐',
        path: 'purchased',
        id: 8
    }
])

function toNav(item, index) {
    onLineMusicActive.value = index
    mimeMusicActive.value = 8
    router.push({
        name: `${item.path}`
    })
}
function toMineNav(item, index) {
    mimeMusicActive.value = index
    onLineMusicActive.value = 8
    router.push({
        name: `${item.path}`
    })
}
function expandMusic() {}
</script>
<style lang="scss" scoped>
@include b('container') {
    width: 200px;
    height: 100vh;
    @include b('container-top') {
        width: 200px;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include e('logo') {
            width: 110px;
            height: 30px;
            display: block;
        }
    }
    @include b('onLine-music') {
        width: 200px;
        height: 250px;
        // background-color: red;
        padding: 20px 25px 0 25px;
        box-sizing: border-box;
        @include e('content') {
            margin-left: 12px;
            margin-bottom: 12px;
            font-size: 12px;
            color: black;
            font-weight: 400;
            cursor: pointer;
        }
        @include b('music-list') {
            width: 100%;
            height: 200px;
            cursor: pointer;
            @include b('line-item') {
                height: 50px;
                width: 150px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-radius: 3px;
                cursor: pointer;
                @include e('name') {
                    margin-left: 14px;
                    font-size: 14px;
                    color: black;
                    font-weight: 400;
                    cursor: pointer;
                }
            }
        }
    }
    @include b('mime-music') {
        width: 200px;
        height: 300px;
        // background-color: red;
        padding: 20px 25px 0 25px;
        box-sizing: border-box;
        @include e('content') {
            margin-left: 12px;
            margin-bottom: 12px;
            font-size: 12px;
            color: black;
            font-weight: 400;
        }
        @include b('music-list') {
            height: 200px;
            @include b('line-item') {
                height: 50px;
                width: 150px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                @include e('name') {
                    margin-left: 14px;
                    font-size: 14px;
                    color: black;
                    font-weight: 400;
                    cursor: pointer;
                }
            }
        }
    }
    @include b('creat-music') {
        width: 200px;
        display: flex;
        padding: 0 0 0 25px;
        height: 30px;
        box-sizing: border-box;
        @include e('name') {
            width: 100px;
            font-size: 14px;
            color: #000;
            font-weight: 400;
            height: 30px;
            line-height: 30px;
        }
        @include e('add') {
            width: 20px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            margin-right: 10px;
        }
        @include e('jiantou') {
            width: 20px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            margin-right: 10px;
        }
    }
    @include b('collect-music') {
        margin-top: 15px;
        width: 200px;
        display: flex;
        padding: 0 0 0 25px;
        height: 30px;
        box-sizing: border-box;
        @include e('name') {
            width: 100px;
            font-size: 14px;
            color: #000;
            font-weight: 400;
            height: 30px;
            line-height: 30px;
        }
        @include e('add') {
            width: 20px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            margin-right: 10px;
        }
        @include e('jiantou') {
            width: 20px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            margin-right: 10px;
        }
    }
}

.active {
    background-color: rgb(0, 0, 0, 0.3);
}
</style>
