<template>
    <div class="cs-box">
        <div class="cs-left">
            <Menu></Menu>
        </div>
        <div class="cs-right">
            <Container />
        </div>
    </div>
</template>

<script setup>
import Container from './container/index.vue'
import Menu from '../layout/menu/index.vue'
</script>
<style lang="scss" scoped>
@include b('box') {
    display: flex;
    @include b('left') {
        width: 200px;
        height: 100vh;
        background-color: #61e0e2;
    }
    @include b('right') {
        flex: 1;
        min-width: 945px;
    }
}
</style>
