<template>
    <div>
        <Header></Header>
        <div class="cs-content">
            <el-scrollbar>
                <router-view v-slot="{ Component }">
                    <!-- <KeepAlive> -->
                    <transition
                        name="custom-classes"
                        enter-active-class="animate__animated animate__fadeIn"
                    >
                        <component :is="Component" />
                    </transition>
                    <!-- </KeepAlive> -->
                </router-view>

                <!-- <Transition
          name="custom-classes"
          enter-active-class="animate__animated animate__fadeIn"
          leave-active-class="animate__animated animate__bounceInLeft"
        >
          <RouterView></RouterView>
        </Transition> -->
            </el-scrollbar>
            <Login v-if="loginStore.isLogin"></Login>
        </div>
        <Footer></Footer>
    </div>
</template>
<script setup>
import { RouterView } from 'vue-router'
import Header from '../header/index.vue'
import Footer from '../footer/index.vue'
import Login from '../../views/login/index.vue'

import { useLoginStore } from '../../stores/Login.js'
const loginStore = useLoginStore()
</script>
<style lang="scss" scoped>
:deep(.el-input-group__prepend) {
    padding: 3px;
}
:deep(.input-with-select) {
    width: 18vw;
    min-width: 8vw;
}
@include b('content') {
    overflow: auto;
    height: calc(100vh - 147px);
}
.content::-webkit-scrollbar {
    width: 0px;
}
:deep(.el-scrollbar__view) {
    height: 100%;
}
</style>
